<p id="notice"><%= notice %></p>

<h1>Listing Category Programs</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_programs.each do |category_program| %>
      <tr>
        <td><%= category_program.code %></td>
        <td><%= category_program.descrip %></td>
        <td><%= link_to 'Show', category_program %></td>
        <td><%= link_to 'Edit', edit_category_program_path(category_program) %></td>
        <td><%= link_to 'Destroy', category_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category program', new_category_program_path %>
