<% if @orden.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

    <ul>
    <% @orden.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<div>
  <%= form_for(@orden) do |f| %>

    <%= hr() %>

    <h3>
       Informacion Orden 
    </h3>

    <div class="field">
      <%= f.label :code, "Code*", :class => "bold" %><br />
      <%= f.text_field :code  %>
    </div>

    <div class="field">
    
      <label for="ac_customer" class="bold">Cliente*</label><br />
      
      <input type="text" name="ac_customer" id="ac_customer" value="<% if @ac_customer %><%= @ac_customer %><% end %>" />
      
      
      <div class="small">
        Ingrese una termino de busqueda para encontrar un cliente.
      </div>

      <br />

      <div class="small">
        <strong>Seleccionar cliente:</strong>
        <span id="selected_customer"><% if @ac_customer %><%= @ac_customer %><% else %><!-- i --><% end %></span>
      </div>
    </div>
          
 
    <div class="field">
      <%= f.label :medio_id %><br />
      <%= f.select :medio_id,options_from_collection_for_select(@medios,'id','descrip') %>
    </div>

    <div class="field">
      <%= f.label :contrato_id %><br />
      <%= f.select :contrato_id,options_from_collection_for_select(@contratos,'id','code') %>
    </div>
    
    
    <div class="field">
      <%= f.label :marca_id %><br />
      <%= f.select :marca_id,options_from_collection_for_select(@marcas,'id','descrip') %>
    </div>
    
    <div class="field">
      <%= f.label :version_id %><br />
      <%= f.select :version_id,options_from_collection_for_select(@versions,'id','descrip') %>
    </div>
    
    
    <div class="field">
      <%= f.label :tiempo, "Duracion*", :class => "bold"   %><br />
      <%= f.text_field :tiempo  %>
    </div>
    <div class="field">
      <%= select_tag(:year, options_for_select(@years, @year)) %>
    </div>
    <div class="field">
      <%= select_tag(:month, options_for_select(@months, @month)) %>
    </div>

    <%= hr() %>


    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Process orden", :class => "bold" %>
      <div class="small">
        Marks wether or not this orden has been payed and we can deduct the product quantities and count it towards the month's total.
      </div>
    </div>
    
    <%= hr() %>
    
    <div class="field">
      <label for="ac_user" class="bold">Usuario*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Enter a search term to find a user.
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>

    <div class="field">
      <%= f.label :description,"Descripcion " %><br />
      <%= f.text_area :description %>
    </div>

    
    <%= hr() %>
  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :customer_id, :id => "ac_customer_id" %>
      <%= f.hidden_field :company_id %>
      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your orden.
    </div>
  
    
  <% end %>
</div>

  
  
      
<div class="field" id="list_items">
      <p class="bold big">Programas:</p>
  </div>
   
  

<div >
    <%= hr() %>

  <h3>
    Agregar Programas
  </h3>
  
  <form method="get" action="/ordens" onsubmit="addItemToOrden(); return false;">
    <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />        
    <table>
      <tr>
        <th>Programa/elemento</th>
        <th>01</th>
        <th>02</th>
        <th>03</th>
        <th>04</th>
        <th>05</th>
        <th>06</th>        
        <th>07</th>
        <th>08</th>        
        <th>09</th>
        <th>10</th>        
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>        
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>        
        <th>23</th>
        <th>24</th>        
        <th>25</th>
        <th>26</th>        
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>        
        <th>31</th>        

        <th>Tarifa</th>
        <th>Costo</th>
        <th>Total</th>
      </tr>
    <tr>
      <td>        
        <input type="text" name="ac_item" id="ac_item" value="" />        
      </td>
      <td>        
        <input type="text" name="ac_item_1" id="ac_item_1" value="0" class="tf_short1" />  
      </td>
      <td>
        <input type="text" name="ac_item_2" id="ac_item_2" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_3" id="ac_item_3" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_4" id="ac_item_4" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_5" id="ac_item_5" value="0" class="tf_short1" />  
      </td>
      <td>
        <input type="text" name="ac_item_6" id="ac_item_6" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_7" id="ac_item_7" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_8" id="ac_item_8" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_9" id="ac_item_9" value="0" class="tf_short1" />  
      </td>

      <td>
        <input type="text" name="ac_item_10" id="ac_item_10" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_11" id="ac_item_11" value="0" class="tf_short1" />      
      </td>

      <td>
        <input type="text" name="ac_item_12" id="ac_item_12" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_13" id="ac_item_13" value="0" class="tf_short1" />  
      </td>

      <td>
        <input type="text" name="ac_item_14" id="ac_item_14" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_15" id="ac_item_15" value="0" class="tf_short1" />      
      </td>

      <td>
        <input type="text" name="ac_item_16" id="ac_item_16" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_17" id="ac_item_17" value="0" class="tf_short1" />  
      </td>
      <td>
        <input type="text" name="ac_item_18" id="ac_item_18" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_19" id="ac_item_19" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_20" id="ac_item_20" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_21" id="ac_item_21" value="0" class="tf_short1" />  
      </td>
      <td>
        <input type="text" name="ac_item_22" id="ac_item_22" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_23" id="ac_item_23" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_24" id="ac_item_24" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_25" id="ac_item_25" value="0" class="tf_short1" />  
      </td>

      <td>
        <input type="text" name="ac_item_26" id="ac_item_26" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_27" id="ac_item_27" value="0" class="tf_short1" />      
      </td>

      <td>
        <input type="text" name="ac_item_28" id="ac_item_28" value="0" class="tf_short1" />      
      </td>
      <td>        
        <input type="text" name="ac_item_29" id="ac_item_29" value="0" class="tf_short1" />  
      </td>


      <td>
        <input type="text" name="ac_item_30" id="ac_item_30" value="0" class="tf_short1" />      
      </td>
      <td>
        <input type="text" name="ac_item_31" id="ac_item_31" value="0" class="tf_short1" />      
      </td>

      <td>
        <input type="text" name="ac_item_tarifa" id="ac_item_tarifa" value="" class="tf_short" />
        
      </td>

      <td>
        <div class="small">
         
           <input type="text" name="ac_item_price" id="ac_item_price" value="" readonly class="tf_short" />
        </div>    
      </td>    
      <td>
        <div>
         
          <input type="text" name="ac_item_total" id="ac_item_total" value="" readonly class="tf_short" />
        </div>
      </td>
    </tr>
  
      </table>
    <br />
    <input type="submit" value="Agregar item a Factura" />
  </form>

  
<%= br() %>

<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/ordens/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);
    });
    
    
    
    $("#ac_user").autocomplete("/ordens/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/ordens/ac_programs/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);      
      
      updateItemOrden();
    });
    
    $("#ac_item_quantity").bind("keyup", function() {
      updateItemOrden();
    });
    
    
    $("#ac_item_tarifa").bind("keyup", function() {
      updateItemOrden();
    });
    
    <% if @products_lines %>
      
      listItemsOrden();
    <% end %>

  });

</script>