
<% if @ordens.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          orden
        </th>
        <th class="bordered_right bordered_bottom" style="width: 350px;">
          Customer
        </th>
        <th class="bordered_right bordered_bottom">
          Moneda
        </th>
        
        <th class="bordered_right bordered_bottom">
          Total S/IGV 
        </th>
        <th class="bordered_right bordered_bottom">
          Periodo 
        </th>
        
        <th class="bordered_right bordered_bottom">
          Fec.Registro
        </th>
        <th class="bordered_right bordered_bottom">
          Tipo de orden
        </th>
        
        <th class="bordered_right bordered_bottom">
          Processed
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
    
      <% for orden in @ordens %>

      <%= puts orden.customer.name %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to orden.code, orden, :title => "Ir a factura" %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to orden.customer.name, orden.customer, :title => "Go to customer" %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= orden.get_moneda(orden.moneda_id) %>
          </td>          

          <td class="bordered_right bordered_bottom right">
            <%= money(orden.subtotal) %>
          </td>
          <td class="bordered_right bordered_bottom right">
            <%= orden.month.to_s  + "-" +  orden.year.to_s  %> 
          </td>
          
          <td class="bordered_right bordered_bottom">
            <%= orden.fecha.strftime("%d/%m/%Y") %>
          </td>
      <td class="bordered_right bordered_bottom">
            <%= orden.tipo_orden.descrip %>
          </td>

          
          <td class="bordered_right bordered_bottom <%= orden.processed_color %>">
            <%= orden.get_processed %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Ver", orden %>
          </td>

          <td class="bordered_right bordered_bottom">
            <%= link_to "Editar", edit_orden_path(orden) %>
          </td>
        <td class="bordered_right bordered_bottom">
            <%= link_to "Eliminar",  orden, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>

          
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any ordens.
  </p>
<% end %>