<% last_day = @orden.days_in_month(@orden.month,@orden.year )  %>
<table>
  <thead>
    <tr>
      
      <th>
        Plataforma
      </th>

      <th>
        Producto
      </th>
     
  
  
      <th>
        Motivo
      </th>
  
      <th>
         Tipo de Tarifa
      </th>
      <th>
         Tarifa
      </th>
  
      <th>
        Formato
      </th>
      <th>
        Cantidad  
      </th>
  
     
       <th>
        1 <%="\n"+get_name_dia(@fechadia1) %>
      </th>
      
      <th>
        2 <%="\n"+get_name_dia(@fechadia2) %>
      </th>
      <th>
        3<%="\n"+get_name_dia(@fechadia3) %>
      </th>
      <th>
        4<%="\n"+get_name_dia(@fechadia4) %>
      </th>
      <th>
        5<%="\n"+get_name_dia(@fechadia5) %>
      </th>
      <th>
        6<%="\n"+get_name_dia(@fechadia6) %>
      </th>
      <th>
        7<%="\n"+get_name_dia(@fechadia7) %>
      </th>
      <th>
        8<%="\n"+get_name_dia(@fechadia8) %>
      </th>
      <th>
        9<%="\n"+get_name_dia(@fechadia9) %>
      </th>
      
      <th>
        10<%="\n"+get_name_dia(@fechadia10) %>
      </th>
      <th>
        11<%="\n"+get_name_dia(@fechadia11) %>
      </th>
      <th>
        12<%="\n"+get_name_dia(@fechadia12) %>
      </th>
      <th>
        13<%="\n"+get_name_dia(@fechadia13) %>
      </th>
      <th>
        14<%="\n"+get_name_dia(@fechadia14) %>
      </th>
      
      <th>
        15<%="\n"+get_name_dia(@fechadia15) %>
      </th>
      <th>
        16<%="\n"+get_name_dia(@fechadia16) %>
      </th>
      <th>
        17<%="\n"+get_name_dia(@fechadia17) %>
      </th>
      <th>
        18<%="\n"+get_name_dia(@fechadia18) %>
      </th>
      <th>
        19<%="\n"+get_name_dia(@fechadia19) %>
      </th>
      <th>
        20<%="\n"+get_name_dia(@fechadia20) %>
      </th>
      
      <th>
        21<%="\n"+get_name_dia(@fechadia21) %>
      </th>
      <th>
        22<%="\n"+get_name_dia(@fechadia22) %>
      </th>
      <th>
        23<%="\n"+get_name_dia(@fechadia23) %>
      </th>
      <th>
        24<%="\n"+get_name_dia(@fechadia24) %>
      </th>
      <th>
        25<%="\n"+get_name_dia(@fechadia25) %>
      </th>
      <th>
        26<%="\n"+get_name_dia(@fechadia26) %>
      </th>
      
      <th>
        27<%="\n"+get_name_dia(@fechadia27) %>
      </th>

      
      <th>
        28<%="\n"+get_name_dia(@fechadia28) %>
      </th>

      <% if last_day >= 29 %> 
      <th>
        29<%="\n"+get_name_dia(@fechadia29) %>
      </th>
      <% end %>
       <% if last_day >= 30 %> 
      <th>
        30<%="\n"+get_name_dia(@fechadia30) %>
      </th>
      <% end %>

      <% if last_day == 31 %> 

          <th>
            31<%="\n"+get_name_dia(@fechadia31) %>
          </th>
     <% end %>
      <th>
        Nro.Dias 

      </th>
      <th>
        Costo
      </th>
      <th>
        Total 
      </th>
      <th>
        Opciones 
      </th>
<th>
         
      </th>


    </tr>
  </thead>
  
  <tbody>
    

    <%  @ordens_products.each do |product| %>
    <tr>
          <td class="small bordered_bottom bordered_right">
           <%= product.website %>    
          </td>

          <td class="small bordered_bottom bordered_right">
                <% if !product.medio_detail_id.nil?%>
             <%= product.medio_detail.name  %>    
            <% else %>
             - 
            <% end %> 
          </td>
          <td class="small bordered_bottom bordered_right">
           <%= @orden.version.descrip  %>    
          </td>

          <td class="small bordered_bottom bordered_right">
           <%= product.tipo_cpm.name  %>    
          </td>
          <td class="small bordered_bottom bordered_right">
           <%= product.tarifa_cpm %>    
          </td>
          <td class="small bordered_bottom bordered_right">
           <%=  product.tipo_formato.name  %>    
          </td>
          <td class="small bordered_bottom bordered_right">
           <%=  product.impresion_click  %>    
          </td>
          
        

          <td class="small bordered_bottom bordered_right">
            <%= product.d01 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d02 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d03 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d04 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d05 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d06 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d07 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d08 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d09 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d10 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d11 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d12 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d13 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d14 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d15 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d16 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d17 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d18 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d19 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d20 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d21 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d22 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d23 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d24 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d25 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d26 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= product.d27 %>              
          </td>
            <% if last_day >= 29 %> 
          <td class="small bordered_bottom bordered_right">
            <%= product.d29 %>              
          </td>

            <%end %>

              <% if last_day >= 30 %> 
          <td class="small bordered_bottom bordered_right">
            <%= product.d30 %>              
          </td>
            <%end %>
              <% if last_day >= 31 %> 
          <td class="small bordered_bottom bordered_right">
            <%= product.d31 %>              
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.quantity) %>                    
          </td>
                   
          
      
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.price) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %> 
          </td>
          <% if @orden.tipo == "N" %>
          <td><%= link_to 'Editar', edit_orden_orden_product_path(orden_id: @orden.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@orden,product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          
    </td>
    
    <% end %>
    <tr>
      <td colspan="38" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="38" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="38" class="bordered_bottom bordered_right bold">
        IGV:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="38" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.total) %>
      </td>
    </tr>
  </tbody>
</table>