
<table>
  <thead>
    <tr>
      
      <th>
        Medio 
      </th>

      <th>
       Motivo
      </th>
     
  
      <th>
        Cantidad 
      </th>
  
      <th>
        Ubicacion 
      </th>
  
      <th>
        Ciudad 
      </th>
  
      <th>
       Periodo 
      </th>
  
      <th>
        Detalle
      </th>


      <th>
        Costo
      </th>
      <th>
        Total 
      </th>
      <th>
        Opciones 
      </th>
<th>
         
      </th>


    </tr>
  </thead>
  
  <tbody>
    
    <%  @ordens_products.each do |product| %>
    <tr>
         

          <td class="small bordered_bottom bordered_right">
               <% if !product.medio_detail_id.nil?%>
             <%= product.medio_detail.name  %>    
            <% else %>
             - 
            <% end %> 
          </td>
          <td class="small bordered_bottom bordered_right">
           <%= @orden.version.descrip  %>    
          </td>

          <td class="small bordered_bottom bordered_right">
           <%= money(product.quantity) %>
 
          </td>

          <td class="small bordered_bottom bordered_right">
           <%=  product.ubicacion %>    
          </td>
          
          <td class="small bordered_bottom bordered_right">
           <%=  product.ciudad  %>    
          </td>
          <td class="small bordered_bottom bordered_right">
          
                 <%= product.periodo   %>    
          </td>
        
          <td class="small bordered_bottom bordered_right">
          
                 <%= product.detalle  %>    
          </td>
         
         
      
          
          <td class="small bordered_bottom bordered_right">
            <%= money(product.price) %>
          </td>
          <td class="small bordered_bottom bordered_right">
            <%= money(product.total) %> 
          </td>
          <% if @orden.tipo == "N" %>
          <td><%= link_to 'Editar', edit_orden_orden_product_path(orden_id: @orden.id,id: product.id ) %></td>          
          <td><%= link_to 'Eliminar',[@orden,product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          
    </td>
    
    <% end %>
    <tr>
      <td colspan="8" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="8" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="8" class="bordered_bottom bordered_right bold">
        IGV:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="8" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@orden.total) %>
      </td>
    </tr>
  </tbody>
</table>