<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>

<div>

  <a href="#" onclick="toggle('filters'); return false;">Filters</a>
</div>

<div id="filters" class="filters" style="display: <%= @filters_display %>;">
  <div>
    <div class="small">
      <form method="get" action="/companies/ordens/<%= @company.id %>">
        <strong>Search:</strong>
        <input type="text" name="q" value="<% if @q_org %><%= @q_org %><% end %>" class="small" style="width: 250px;" onclick="$(this).select();" />
        <input type="submit" value="Find" class="bold small_btn" />
      </form>
    </div>
  </div>


  
  <div class="button">
    <a href="/companies/ordens/<%= @company.id %>" class="small_btn">Clear filters</a>
  </div>
</div>


 

<br />
<%= render "ordens/list" %>

<br />
<%= will_paginate @ordens %>


<div class="button">
  <%= link_to 'Orden TV/Radio/Otros', "/ordens/new/#{@company.id}" %>
 
</div>

<h2>Importar Archivos "*.csv"</h2>

<%= form_tag import_ordens_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>




<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/ordens/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>