<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden
  <% if @customer %>
    for customer: <%= @customer.name %>
  <% end %>
</h1>



<div class="small">
  <form method="get" action="/companies/ordens/<%= @company.id %>">
    <strong>Search:</strong>
    <input type="text" name="search" value="<% if @q_org %><%= @q_org %><% end %>" class="small" onclick="$(this).select();" />
    <input type="submit" value="Find" class="bold small_btn" />
    <a href="/companies/ordens/<%= @company.id %>" class="small_btn">Clear</a>
  </form>
</div>

 

<br />
<%= render "ordens/list" %>

<br />
<%= will_paginate @ordens %>


<div class="button">
  <%= link_to 'Orden TV/Radio/Otros', "/ordens/new/#{@company.id}" %>
  <%= link_to 'Orden Digital', "/ordens/neworden/#{@company.id}" %>
</div>

<h2>Importar Archivos "*.csv"</h2>

<%= form_tag import_ordens_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>




<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/ordens/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
  });
</script>