<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "ordens", "/companies/ordens/#{@company.id}" %> &raquo;
  
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Orden 
</h1>

<%= hr() %>

<h3>

</h3>

<%= hr() %>

<p>

  No existe informacion con los datos ingresados 

</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Regresar', "/companies/reports/rpt_ordenes1_pdf/#{@company.id}" %>
</div