<p id="notice"><%= notice %></p>


<p>

  <strong>Orden Nro:</strong>
  <%= @orden.code %>
</p>

<p>

  <strong>Contrato:</strong>
  <%= @orden.contrato.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden.fecha %>
</p>

<p>
  <strong>Medio:</strong>
  <%= @orden.medio.descrip %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @orden.marca.descrip %>
</p>

<p>
  <strong>Version:</strong>
  <%= @orden.version.descrip %>
</p>

<p>
  <strong>Fecha1:</strong>
  <%= doDate(@orden.fecha1) %>
</p>

<p>
  <strong>Fecha2:</strong>
  <%= doDate(@orden.fecha2) %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @orden.tiempo %>
</p>

<%= link_to 'Editar', edit_orden_path(@orden) %> |
<%= link_to 'Regresar', ordens_path %>
