<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag("supplier_48.png", :class => "vmiddle") %>
    <%= @orden.code %>
</h1>

<%= hr() %>

<% if @orden.contrato %>
  <p>
    <b> Contrato : </b>
    <%=  @orden.contrato.code %>
  </p>
<% end %>

<% if @orden.fecha %>
  <p>
    <b>Fecha:</b>
    <%= @orden.fecha %>
  </p>
<% end %>

<p>
  <b>Medio:</b>
  <%= @orden.medio.descrip %>
</p>

<p>
  <b>Marca:</b>
  <%= @orden.marca.descrip %>
</p>

<p>
  <b>Version:</b>
  <%= @orden.version.descrip %>
</p>

<p>
  <b>Fecha1:</b>
  <%= doDate(@orden.fecha1) %>
</p>

<p>
  <b>Fecha2:</b>
  <%= doDate(@orden.fecha2) %>
</p>

<p>
  <b>Tiempo:</b>
  <%= @orden.tiempo %>
</p>


<%= link_to 'Editar', edit_orden_path(@orden) %> |
<%= link_to 'Regresar', ordens_path %>
