<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @orden.company.name, @orden.company %> &raquo;
  <%= link_to "ordens", "/companies/ordens/#{@orden.company.id}" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  <%= @orden.identifier %>
</h1>

<%= hr() %>



<p>
  <b>Orden:</b>
  <%= @orden.code %>
</p>

<p>
  

<b>Tipo de Orden:</b>
  <%= @orden.tipo_orden.descrip %>

</p>

<b>Medio:</b>
  <%= @orden.medio.descrip %>
</p>

<b>Marca:</b>
  <% if @orden.marca.nil? %>
  <% @orden.marca_id %>
  <% else %>
  <%= @orden.marca.name %>
  
  <% end %>
</p>
<b>Producto:</b>
  <%= @orden.producto.name %>
</p>

<b>Version:</b>
  <%= @orden.version.descrip %>
</p>

<b>Duracion:</b>
  <%= @orden.tiempo %>
</p>

<b> Revision </b> 
  <%= @orden.revision %>
</p>

<%= hr() %>

<h3>
   Informacion cliente
</h3>

<p>
  <b>Nombre :</b>
  <%= link_to @customer.name, @customer %>
</p>

<%= render "customers/show" %>

<%= hr() %>

<% if @orden.tipo == "N" %>

<h4>Importar informacion desde plantilla "*.csv"</h4>
    <%= form_tag import_orden_orden_products_path(@orden), multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Importar " %>
    <% end %>
    <%= hr() %>


   
<% end %>

<%= hr() %>

  <div class="button">
      <%= link_to 'Agregar Item', new_orden_orden_product_path(@orden) %>
  </div> 


<%= hr() %>



<h3>
  Detalle
</h3>




<% if @orden.tipo_orden_id == 1 %>
    <%= render 'show1' %>
<% end %>


<% if @orden.tipo_orden_id == 2 %>
    <%= render 'show2' %>
<% end %>

<% if @orden.tipo_orden_id == 3 %>
    <%= render 'show3' %>
<% end %>

<% if @orden.tipo_orden_id == 4 %>
  <%= render 'show4' %>
<% end %>


<% if @orden.tipo_orden_id == 5 %>
  <%= render 'show5' %>
<% end %>


<% if @orden.tipo_orden_id == 6 %>
  <%= render 'show6' %>
<% end %>

<% if @orden.tipo_orden_id == 7 %>
  <%= render 'show7' %>
<% end %>
<br />

<%= hr() %>

<% if @orden.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@orden.description) %>
  </div>
  <%= hr() %>
<% end %>


<br />

<div>
  <strong><%= @orden.get_processed %></strong>
  <% if @orden.processed == "1" and @orden.date_processed %>
    <%= doDate(@orden.date_processed) %>
  <% end %>
</div>

<p>
  <strong> Usuario:</strong>
  <%= link_to @orden.user.username, @orden.user %>
</p>

<%= hr() %>

<div class="button">
  <%= link_to 'Export to PDF', "/ordens/pdf/#{@orden.id} " %>

  <%= link_to 'Export to XLS', "/ordens/xls/#{@orden.id} " %>


<% if @orden.processed =="0" || @orden.processed==nil %>
  <%= link_to 'Procesar orden', "/ordens/do_process/#{@orden.id}" %>


<% elsif @orden.processed =="1" %>  
  <%= link_to 'Anular', "/ordens/do_anular/#{@orden.id}" %>
<% end %>
  
  <%= link_to 'Editar', edit_orden_path(@orden) %>
  <%= link_to 'Regresar', "/companies/ordens/#{@orden.company.id}" %>
</div>




