<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @stamentacount_detail.fecha %>
</p>

<p>
  <strong>Tipomov:</strong>
  <%= @stamentacount_detail.tipomov_id %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @stamentacount_detail.cargo %>
</p>

<p>
  <strong>Abono:</strong>
  <%= @stamentacount_detail.abono %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @stamentacount_detail.concepto %>
</p>

<p>
  <strong>Nrocheque:</strong>
  <%= @stamentacount_detail.nrocheque %>
</p>
