<div class="metadata">
<div class="item">
        <div class="title">
            <%= quote.nro %> 
			<%= quote.fecha %> 
			<%= quote.importe %> 
			<%= quote.vventa %> 
			<%= quote.comision1 %>
			<%= quote.comision2 %>
			<%= quote.total %>
			<%= quote.facturacanal %>
			<%= quote.factura1 %>
			<%= quote.factura2 %>
    
		</div>
	</div>
			
</div>