<div class="metadata">
	<div class="item">


<table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 20px;">
          Numero
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Fecha
        </th>
        <th class="bordered_right bordered_bottom" style="width: 20px;">
          Importe
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 20px;">
          V.Venta
        </th>
        
      </tr>
    </thead>
    <tbody>
    
   
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= quote.nro %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= quote.fecha.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= quote.importe %>
          </td>
                    
          <td class="bordered_right bordered_bottom">
            <%= quote.vventa  %>
          </td>
        
          <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
          <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        

          
    </tbody>
  </table>

	</div>
			
</div>