<p id="notice"><%= notice %></p>

<h1>Listing Contrato Details</h1>

<table>
  <thead>
    <tr>
      <th>Nro</th>
      <th>Fecha</th>
      <th>Comision1</th>
      <th>Comision2</th>
      <th>Total</th>
      <th>Vventa</th>
      <th>Importe</th>

      <th>Facturacanal</th>
      <th>Fecha2</th>
      <th>Factura1</th>
      <th>Factura2</th>
      <th>Fecha Pago</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contrato_details.each do |contrato_detail| %>
      <tr>
        <td><%= contrato_detail.nro %></td>
        <td><%= contrato_detail.fecha %></td>
        <td><%= contrato_detail.comision1 %></td>
        <td><%= contrato_detail.comision2 %></td>
        <td><%= contrato_detail.total %></td>

        <td><%= contrato_detail.vventa %></td>
        
        <td><%= contrato_detail.importe %></td>

        <td><%= contrato_detail.facturacanal %></td>
        <td><%= contrato_detail.fecha2 %></td>
        <td><%= contrato_detail.factura1 %></td>
        <td><%= contrato_detail.factura2 %></td>
        <td><%= contrato_detail.fecha_pago %></td>
  
        <td><%= link_to 'Ver', contrato_detail %></td>
        <td><%= link_to 'Editar', edit_contrato_detail_path(contrato_detail) %></td>
        <td><%= link_to 'Eliminar', contrato_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato detail', new_contrato_detail_path %>
