 <% if @invoice.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @invoice.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= hr() %>

<div class="mid_box bordered_right">
  <%= form_for(@invoice) do |f| %>
    <h4>
       Informacion Factura 
    </h4>

    <div class="field">

      
      <div class="field">
       <%= f.label :fecha , "Fecha *", :class => "bold" %><br />

     
        <%= f.date_field :fecha , :readonly => true  %>
      
      </div>
     <div class="field">
        <%= f.label :document_id,"Documento :" %><br />
        <%= f.collection_select :document_id, @tipodocumento, :id, :description, :prompt => true %>
      
      </div>



    <div class="field">
      <%= f.label :moneda_id ,"  "%><br />
      <%= f.select :moneda_id, options_from_collection_for_select(@monedas,'id','description') %>
    </div>

    <%= hr() %>

     <%= f.select :tipo_factura, options_for_select([["CLIENTE-MEDIO",2]]) %>

<div class="field">
      <%= "Serie:  " %><br />
     
        <%= select_tag(:option, options_for_select([["FFF1",1],["FF01",2],["FF02",3],["FF03",4],["FF04",5],["FF05",6],["FF06",7]], params[:option] ), class:"select") %>
     
     </div>

      <br> Tipo de Facturacion <br />
    

     <div class="field">
      <%= f.label :customer_id, "Cliente:" %><br />
      <%= f.select :customer_id,options_from_collection_for_select(@customers,'id','name') %>
    </div>
   <br> </br> 

     <div class="field">
      <%= f.label :payment_id,"Forma de Pago " %><br />
      <%= f.select :payment_id,options_from_collection_for_select(@payments,'id','descrip') %>
    </div>
  
    <%= hr() %>        

     
    <div class="field" id="list_items">
      <p class="bold big">Products:</p>
    </div>

    <div class="field" id="list_items2">
      <p class="bold big">Guias:</p>
    </div>

    <%= hr() %>
  
    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Factura pagada?", :class => "bold" %>
      <div class="small">
        Marks wether or not this invoice has been payed and we can deduct the product quantities and count it towards the month's total.
      </div>
    </div>
  
    <div class="field">
      <%= f.check_box :return %>
      <%= f.label :return, :class => "bold" %>
      <div class="small">
        Is it a return order?
      </div>
    </div>
    
    
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>  
    <div class="field">
      <%= f.label :comments , "Observaciones: "%><br />
      <%= f.text_area :comments %>
    </div>  


      
    <%= hr() %>

    <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Enter a search term to find a user.
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>
  
  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />

      <input type="hidden" name="items2" id="items2" value="<% if @guias_lines %><%= @guias_lines %><% end %>" />
      
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :contrato_id, :id => "ac_contrato_id" %>
     
      
      <%= f.hidden_field :company_id %>      
      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your invoice.
    </div>
  <% end %>
</div>




<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">

  $(document).ready(function() {

    $("#ac_contrato").autocomplete("/facturas/ac_contratos/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_contrato").result(function(event, data, formatted) {
      $("#ac_contrato_id").val(data[6]);
      $("#selected_contrato").html(data[4]);
      $("#selected_contrato_descrip").html(data[2]);
      $("#selected_contrato_name").html(data[0]);
    });        
    
    $("#ac_customer").autocomplete("/facturas/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);

    });        
    
    $("#ac_user").autocomplete("/facturas/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    


    $("#ac_item3").autocomplete("/facturas/ac_guias/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item3").result(function(event, data, formatted) {
      $("#ac_item_guia").val(data[2]);    
      $("#selected_guia").html(data[0]);      
    });
    

    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_discount").bind("keyup", function() {
      updateItemTotal();
    });
    
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsInvoice2();
    <% end %>

   <% if @guias_lines %>
    alert 'holas guias_lines';
      listItemsdelivery2();
    <% end %>

  });
</script>