<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "purchaseorders", "/companies/facturas/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Nueva factura 
</h3>

<p>
  Para crear una nueva orden de compra, por favor llenar el siguiente formulario. Los campos marcados con <strong>*</strong> son obligatorios
  
</p>

<% if @factura.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this purchaseorder from being saved:</h2>

    <ul>
    <% @factura.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= hr() %>

<div class="mid_box bordered_right">
  
    <h4>
       Informacion factura 
    </h4>

    <div class="field">
      <label for="ac_supplier" class="bold"> Contrato *</label><br />
      <%= $lcContratoId %>
    
    </div>

    <%= hr() %>

    <p class="bold big">
      Detalle de productos 
    </p>

  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Contrato 
        </th>
        <th class="small bordered_bottom bordered_right">
          Nro.
        </th>
        <th class="small bordered_bottom bordered_right">
          Comision1
        </th>        
        <th class="small bordered_bottom bordered_right">
          Comision2 
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>        
        <th class="small bordered_bottom bordered_right">
          Selección
        </th>
      </tr>
    </thead>
    <tbody>
      
      <%=  form_tag discontinue_facturas_path,method: :post  %>
      <% for item in @detalleitems %>
        <tr>
          <td class="small bordered_bottom bordered_right" style="width: 50px;">
            <%= (item.contrato.code) %>
          </td>
       

          <td class="small bordered_bottom bordered_right" style="width: 50px;">
            <%= item.nro %>
          </td>
          
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.comision1) %>
          </td>
         <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.comision2) %>
          </td>
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.total) %>

          </td>
          
           <td class="bordered_right bordered_bottom right">
            <%= check_box_tag "products_ids[]", item.id     %>
          </td>          

        </tr>
      <% end %>

    </tbody>
  </table>


    <%= hr() %>
    <div class="field">
     <strong>Observaciones:</strong><br />
     <input type="text_area" name="comments" value="" style = "width: 80px" >         
    </div> 
    <%= hr() %>
  
    
   <%=  submit_tag "Grabar detalle "%>

  

</div>


<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>


<%= hr() %>

<div class="button">
  <%= link_to 'Back', "/companies/purchases/#{@company.id}" %>
</div>