<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "purchaseorders", "/companies/facturas/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Nueva factura 
</h3>

<p>
  Para crear una nueva factura , por favor llenar el siguiente formulario. Los campos marcados con <strong>*</strong> son obligatorios
  
</p>

<% if @factura.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this purchaseorder from being saved:</h2>

    <ul>
    <% @factura.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= hr() %>

<div class="bordered_bottom bordered_right">
  
    <h5>
       Informacion factura 


<p>
  <b>Code:</b>
  <%= @factura.code %>
</p>

<p>
  <b>Fecha :</b>
  <%= @factura.fecha.strftime("%d/%m/%Y") %>
</p>


<p>
  <b>Moneda :</b>
  <%= @factura.moneda.description  %>
</p>

    </h5>
<% puts "xxxx"%>
    

    <%= hr() %>

    <p class="bold big">
      Detalle de ordenes 
    </p>

  <table>
    <thead>
      <tr>
        <th class="small bordered_bottom bordered_right">
          Orden
        </th>
        <th class="small bordered_bottom bordered_right">
          Medio 
        </th>
        <th class="small bordered_bottom bordered_right">
          Cliente 
        </th>
        
        <th class="small bordered_bottom bordered_right">
          Subtotal 
        </th>        
        <th class="small bordered_bottom bordered_right">
          Igv 
        </th>
        <th class="small bordered_bottom bordered_right">
          Total
        </th>   
        <th class="small bordered_bottom bordered_right">
          Comision 1
        </th>   
        <th class="small bordered_bottom bordered_right">
          Comision 2 
        </th>   


        <th class="small bordered_bottom bordered_right">
          Selección
        </th>
      </tr>
    </thead>
    <tbody>
      

   
      <%=  form_tag discontinue_facturas_path(factura_id: @factura.id),method: :post do  %>
   

      <% for item in @detalleitems %>

   
         <tr>
          <td class="small bordered_bottom bordered_right" style="width: 50px;">
            <%= (item.code) %>
          </td>
       
          <td class="small bordered_bottom bordered_right" style="width: 150px;">

            <% if !item.medio.nil? %>
            <%= item.medio.descrip %>

            <% end %>
          </td>
          <td class="small bordered_bottom bordered_right" style="width: 2  50px;">
            <%= item.customer.name %>
          </td>


          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.subtotal) %>
          </td>
         
         <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.tax) %>
          </td>
          <td class="small bordered_bottom bordered_right" style="width: 100px;">
            <%= money(item.total) %>

          </td>



          
          
           <td class="bordered_right bordered_bottom right">
            <%= check_box_tag "products_ids[]", item.id     %>
          </td>          

        </tr>
      <% end %>

    </tbody>
  </table>


  
    <%= hr() %>
  
    
   <%=  submit_tag "Grabar detalle "%>
  

</div>

   <% end %>
<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>


<%= hr() %>

<div class="button">
  <%= link_to 'Back', "/companies/purchases/#{@company.id}" %>
</div>