<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @factura.company.name, @factura.company %> &raquo;
  <%= link_to "Facturas", "/companies/facturas/#{@factura.company.id}" %>
</div>

<h1>
  <%= image_tag("factura_48.png", :class => "vmiddle") %>
  <%= @factura.identifier %>
</h1>

<%= hr() %>

<% if @factura.location %>
  <p>
    <b>Location:</b>
    <%= link_to @factura.location.name, @factura.location %>
  </p>
<% end %>

<% if @factura.division %>
  <p>
    <b>Division:</b>
    <%= link_to @factura.division.name, @factura.division %>
  </p>
<% end %>

<% if @factura.payment %>
  <p>
    <b>Payment:</b>
    <%= link_to @factura.payment.descrip, @factura.payment %>
  </p>
<% end %>


<p>
  <b>Code:</b>
  <%= @factura.code %>
</p>

<p>
  <b>Fecha :</b>
  <%= @factura.fecha %>
</p>


<p>
  <b>Moneda :</b>
  <%= @factura.moneda.description  %>
</p>

<%= hr() %>

<h3>
  Informacion Cliente 
</h3>

<p>
  <b>Name:</b>
  <%= link_to @factura.code, @factura %>
</p>

  <% if @lcTipoFactura ==  "1" %>

      <%= render 'contratos/show' %>

  <% else %>

        <p>
          <b>Cliente :</b>
          <%= link_to @factura.customer.name , @factura.customer.code %>
        </p>
           <p>
        <strong>Medio :</strong>
        <%= @factura.medio.descrip  %>
        </p>

  <% end %>



<%= hr() %>

<h3>
  Detalle servicios
</h3>

<table>
  <thead>
    <tr>
      <th>
        Cuota 
      </th>
      <th>
        Monto Original
      </th>
      <th>
        Moneda
      </th>
      <th>
        Tipo Cambio
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  
  <% if @lcTipoFactura == '1' %>
  <div class="button">
 
  
  <%= link_to "Agregar Item","/facturas/newfactura2/#{@factura.id}" %>
  
  </div> 

  <% end %>
  
  <tbody>
    <%  @factura_details.each do |quote| %>

    <% if @lcTipoFactura == '1' %>

          <tr>
            <td class="bordered_bottom bordered_right">
              <%= link_to quote.id    %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.total) %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= quote.moneda_id %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.tipocambio) %>%
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.total) %>
            </td>
              
              <td><%= link_to 'Eliminar',[@factura,quote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

      <% else %>
          <tr>
            <td class="bordered_bottom bordered_right">
              <%= link_to quote.id    %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.quantity) %>%
            </td>
            <td class="bordered_bottom bordered_right">
              <%= quote.service.name  %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.price) %>
            </td>
            <td class="bordered_bottom bordered_right">
              <%= money(quote.total) %>
            </td>
              
          </tr>
      <% end %>


    <% end %>
    <tr>
      <td colspan="5" class="bordered_bottom bordered_right">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Subtotal:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@factura.subtotal) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Tax:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@factura.tax) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="bordered_bottom bordered_right bold">
        Total:
      </td>
      <td class="bordered_bottom bordered_right bold right">
        <%= money(@factura.total) %>
      </td>
    </tr>
  </tbody>
</table>
<br />



<%= hr() %>

<% if @factura.description != "" %>
  <div>
    <b>Description:</b>
    <br />
    <br />
    <%= format_text(@factura.description) %>
  </div>
  <%= hr() %>
<% end %>

<% if @factura.comments != "" %>
  <div>
    <b>Comments:</b>
    <br />
    <br />
    <%= format_text(@factura.comments) %>
  </div>
  <%= hr() %>
<% end %>

<br />

<div>
  <strong><%= @factura.get_processed %></strong>
  <% if @factura.processed == "1" and @factura.date_processed %>
    <%= doDate(@factura.date_processed) %>
  <% end %>
</div>

<p>
  <b>Return:</b>
  <%= @factura.get_return %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @factura.user.username, @factura.user %>
</p>

<%= hr() %>

<div class="button">
  
  <%= link_to 'Exportar to PDF', "/facturas/pdf/#{@factura.id}.pdf" %>
  
<% if @factura.processed =="0" || @factura.processed==nil %>
  <%= link_to 'Procesar factura', "/facturas/do_process/#{@factura.id}" %>


<% elsif @factura.processed =="1" %>  
  <%= link_to 'Anular', "/facturas/do_anular/#{@factura.id}" %>
<% end %>
<%= link_to 'Regresar', "/companies/facturas/#{@factura.company.id}" %>
</div>