<p id="notice"><%= notice %></p>

<h1>Listing Medio Details</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>User</th>
      <th>Medio</th>
      <th>References</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medio_details.each do |medio_detail| %>
      <tr>
        <td><%= medio_detail.code %></td>
        <td><%= medio_detail.name %></td>
        <td><%= medio_detail.user_id %></td>
        <td><%= medio_detail.medio_id %></td>
        <td><%= medio_detail.references %></td>
        <td><%= medio_detail. %></td>
        <td><%= link_to 'Show', medio_detail %></td>
        <td><%= link_to 'Edit', edit_medio_detail_path(medio_detail) %></td>
        <td><%= link_to 'Destroy', medio_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medio detail', new_medio_detail_path %>
