<%= simple_form_for(@medio_customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  

      <div class="field">
      <%= f.label :medio_id , "Medio ", :class => "bold" %><br />
      <%= f.collection_select :medio_id, @medios, :id, :descrip,{:prompt   => "Seleccione un medio "} %>
      </div>

     <div class="field">
      <%= f.label :customer_id , "Clientes ", :class => "bold" %><br />
      <%= f.collection_select :customer_id, @customers, :id, :name,{:prompt   => "Seleccione un cliente "} %>
      </div>


      <div class="field">
      <%= f.label :comision1, "Comision 1 ", :class => "bold" %><br />
      <%= f.number_field :comision1, :step => 0.01 %>
      </div>

      <div class="field">
      <%= f.label :comision2, "Comision 2", :class => "bold" %><br />
      <%= f.number_field :comision2, :step => 0.01 %>
      </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
