<html>
<body>  
  <h4 ><center>CONTRATOS   </center>   </h4>
  <h5><center> Desde: <%= @fecha1.to_s %>  Hasta: <%= @fecha2.to_s %> </center></h5>
  <font size="2" face="Courier New" > 
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
    <th width="8%">     </th>
    <th width="8%">  Cuota   </th>
    <th width="8%">        </th>
    <th width="8%">  Valor    </th>
    <th width="30%">  </th>
    <th width="30%"> Total </th>
    <th width="10%"> Factura  </th>
    <th width="5%">  Factura     </th>
    <th width="10%"> Fecha  </th>
    <th width="10%">   </th>
    <th width="10%">   </th>
    <th width="10%">   </th>
  </tr>
 <tr bgcolor="#B4D7F7">
    <th width="8%">     </th>
    <th width="8%">  Nro.   </th>
    <th width="8%">  Vcmto   </th>
    <th width="8%">  Venta    </th>
    <th width="30%"> IGV </th>
    <th width="30%"> Cuota </th>
    <th width="10%"> Canal  </th>
    <th width="5%">  Masa     </th>
    <th width="10%"> Cancel. </th>
    <th width="10%"> Sit.  </th>
    <th width="10%"> Ctrol  </th>
    <th width="10%">   </th>
  </tr>

  </table>
  
       

    
      <% nroitem= 1 %>
      <% totg1 = 0 %>
      <% totg2 = 0 %>
      <% totg3 = 0 %>
      <% totg4 = 0 %>

    
<%  @contratos_rpt.each do |detalle| %>
                
             <table style=  'font-size:80% ;width:100%'>    

                  <tr style="font-weight:bold">
                  <td width="8%" >CANAL : </td>
                  <td width="20%"align="left"> <%= detalle.medio.name   %></td>
                  <td width="72%"> </td>    
                  </tr>

              </table>

<% @detalle = detalle.get_contratos_medio_customer(@fecha1,@fecha2,detalle.medio_id) %>
                 
            <% tot_inafecto = 0 %>
            <% tot_payable = 0 %>
            <% tot_tax   = 0 %>
            <% tot_total = 0 %>
             <table style=  'font-size:80% ;width:100%'>    

                  <tr style="font-weight:bold">
                  <td width="8%" > CLIENTE : </td>
                  <td width="20%"align="left"> <%= detalle.customer.name   %></td>
                  <td width="72%"> </td>    
                  </tr>

              </table>


                  
            <%  @detalle.each do |compra| %>


            <% @detalle2 = compra.get_contratos_customer_contrato(@fecha1,@fecha2,detalle.medio_id,detalle.customer_id) %>


           <table style=  'font-size:80% ;width:100%'>    

                  <tr style="font-weight:bold">
                  <td width="8%" > Contrato : </td>
        <td width="20%"align="left"> <%= detalle.contrato.code %></td>
        <td width="20%"align="left"> <%= detalle.get_contrato %></td>
        <td>Mon: </td>
        <td width="20%"align="left"> <%= detalle.get_moneda %></td>
        <td width="20%"align="left"> <%= sprintf("%.2f",product.importe.to_s) %></td>
        <td>Cuotas: </td>
        <td>Com1: </td>
        <td align="left"> <%= sprintf("%.2f",product.comision1.to_s) %>%</td>
        <td>Com2: </td>
        <td align="left"> <%= sprintf("%.2f",product.comision2.to_s) %>%</td>

                  </tr>

              </table>

               <%nroitem = 1%> 
             <% @detalle2.each do |contrato| %> 

            <table style=  'font-size:80% ;width:100%'>       
            <tr>
            <td width="8%"><%= nroitem %> </td>
            <td width="8%"><%= contrato.fecha.strftime("%d/%m/%Y") %> </td>
            <td width="30%"><%= sprintf("%.2f",contrato.vventa.to_s) %> </td>
            <td width="10%" align="left"></td>
            <td width="5%" align="right"> </td>
            <td width="10%" align="right"></td>
            <td width="10%" align="right"> <%=sprintf("%.2f",contrato.importe.to_s) %></td>
            <td width="10%" align="right"> <%= contrato.facturacanal %></td>
            <td width="10%" align="right"> <%= contrato.factura1 %> </td>
            <td width="10%" align="right"> <%= contrato.fechafac1.strftime("%d%m%Y") %> </td>
            <td width="10%" align="right"> <%= contrato.factura2 %> </td>
<td width="10%" align="right"> <%= contrato.fechafac2.strftime("%d%m%Y") %> </td>
            <td width="10%" align="right"> <%= contrato.estado %> </td>

            </tr>       
            </table>

            <%  nroitem = nroitem + 1 %>

             <%if contrato.fec_pago.nil? %> 
               <% tot_canc1 += contrato.vventa %>
               <% tot_canc2 += contrato.total  %> 

             <%else %>
               <% tot_pago1 += contrato.vventa %>
               <% tot_pago2 += contrato.total  %> 

             <% end %>

             <%if contrato.factura1.nil? %>

               <% tot_fact1 += contrato.vventa %>
               <% tot_fact2 += contrato.total  %> 



             <%end %>
                  
             
            <table style=  'font-size:80% ;width:100%'>       
            <tr>
            <td width="8%"> </td>
            <td width="8%">  </td>
            <td width="30%">Total por Documento: </td>
            <td width="10%" align="right"> </td>
            <td width="5%" align="right"> </td>
            <td width="10%" align="right"> <%= sprintf("%.2f",tot_inafecto.to_s) %></td>
            <td width="10%" align="right"> <%=sprintf("%.2f",tot_payable.to_s) %></td>
            <td width="10%" align="right"> <%= sprintf("%.2f",tot_tax.to_s) %></td>
            <td width="10%" align="right"> <%= sprintf("%.2f",tot_total.to_s) %> </td>
            </tr>
            </table>
               <%  totg1 += tot_inafecto  %>                  
               <%  totg2 += tot_payable   %> 
               <%  totg3 += tot_tax  %>                  
               <%  totg4 += tot_total  %> 

      
        <%end%>

     
                 <table style=  'font-size:80% ;width:100%'>       
                      <tr style="font-weight:bold">
                      <td width="8%"> </td>
                      <td width="8%">  </td>
                      <td width="30%"> Total Dolares :</td>
                      <td width="10%" align="right"> </td>
                      <td width="5%" align="right"> </td>
            <td width="10%" align="right"> <%= sprintf("%.2f",totg1.to_s) %></td>
            <td width="10%" align="right"> <%= sprintf("%.2f",totg2.to_s) %></td>
            <td width="10%" align="right"> <%= sprintf("%.2f",totg3.to_s) %></td>
            <td width="10%" align="right"> <%= sprintf("%.2f",totg4.to_s) %> </td>
            

                      </tr>
                 </table>

      <%end %>


        
      </body>
      </html>