
<%= simple_form_for([@supplierpayment , @supplierpayment_detail]) do |f| %>
  <%= f.error_notification %>


    <div class="field">
      <%= f.label :supplier_id, "Proveedor *", :class => "bold" %><br />
      <%= f.select :supplier_id,options_from_collection_for_select(@suppliers,'id','name',:selected => @supplierpayment_detail.supplier_id)%>
    </div>
    
    <div class="field">
      <%= f.label :document_id, "Tipo de Documento *", :class => "bold" %><br />
      <%= f.select :document_id,options_from_collection_for_select(@documentos,'id','description',:selected => @supplierpayment_detail.document_id)%>
    </div>
    <div class="field">
      <%= f.label :numero_documento, "Numero de Documento *", :class => "bold" %><br />
      <%= f.text_field :numero_documento %>
    </div>
    <div class="field">
      <%= f.label :fecha_documento, "Fecha de Documento *", :class => "bold" %><br />
      <%= f.date_field :fecha_documento ,:class => "input.tf_short" %>
    </div>


     <div class="field">
      <%= f.label :nrooperacion, "Nro.Operacion *", :class => "bold" %><br />
      <%= f.text_field :nrooperacion %>
    </div>

     <div class="field">
      <%= f.label :operacion, "Operacion *", :class => "bold" %><br />
      <%= f.text_field :operacion %>
    </div>

    
  
    
    <div class="field">
      <%= f.label :total, "Total *", :class => "bold" %><br />
     
      <%= f.number_field :total , step: :any %>      
    </div>
    

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {

    $("#ac_item").autocomplete("/supplier_payments/ac_facturas/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#supplierpayment_detail_total").val(data[6]); 
      $("#ac_item_id").val(data[4]);
      $("#ac_supplier_id").val(data[2]);
    });
    
     $("#supplierpayment_detail_total").bind("keyup", function() {
       
        var saldocheque = $("#ac_item_importe").val();
        var total = $("supplierpayment_detail_total").val();
    
        if(isNumeric(saldocheque) && isNumeric(total)) {
          
          if(saldocheque > total ){
          alert("OMG !! Importe de factura excede saldo Cheque");    
    
          }
        } else {
          $("#supplierpayment_detail_total").html("0.00");
        }
    
    });
    
    
  });
</script>