
<%= simple_form_for([@supplierpayment , @supplierpayment_detail]) do |f| %>
  <%= f.error_notification %>

    

    <div class="field">
      <%= f.label  :concept_id ,"Conceptos de Cheque / Transferencia "%><br />
      <%= f.select :concept_id,options_from_collection_for_select(@conceptos,'id','descrip') %>
    </div>

      <label for="ac_item" class="bold"> Documento *</label><br />
      <input type="text" name="ac_item" id="ac_item" value="<% if @ac_documento %><%= @ac_documento %><% end %>" />
      
      <div class="small">
      Ingresar una termino de busqueda para encontrar un documento.
      </div>
      <br />

      <div >
        <strong>Seleccionar :</strong>
        <span id="selected_contrato">     <% if @ac_documento %><%= @ac_documento %><% else %><!-- i --><% end %></span>
        <span id="selected_contrato_name"><% if @ac_documento %><%= @ac_documento %><% else %><!-- i --><% end %></span>
        <br>
      
      </div>

    
    
    <div class="field">
      <%= f.label :numero_documento, "Numero de Document *", :class => "bold" %><br />
      <%= f.text_field :numero_documento %>
    </div>
    <div class="field">
      <%= f.label :fecha_documento, "Fecha de Documento *", :class => "bold" %><br />
      <%= f.date_field :fecha_documento ,:class => "input.tf_short" %>
    </div>


     <div class="field">
      <%= f.label :nrooperacion, "Nro.Operacion *", :class => "bold" %><br />
      <%= f.text_field :nrooperacion %>
    </div>

     <div class="field">
      <%= f.label :operacion, "Operacion *", :class => "bold" %><br />
      <%= f.text_field :operacion %>
    </div>
    <div class="field">
      <%= f.label :total, "Total *", :class => "bold" %><br />
     
      <%= f.text_field :total  %>      
    </div>
    
    

  <div class="form-actions">
    <%= f.hidden_field :purchase_id, :id => "ac_item_id" %>
    <%= f.hidden_field :supplier_id, :id => "ac_supplier_id" %>
    <%= f.hidden_field :document_id, :id => "ac_document_id" %>
    
    <%= f.button :submit %>
  </div>
  
<% end %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {

    $("#ac_item").autocomplete("/supplier_payments/ac_facturas/<%= @company.id %>", {
      matchSubset: 1,
      matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      
      $("#supplierpayment_detail_total").val(data[6]);    
      $("#ac_item_id").val(data[4]);
      $("#selected_contrato_name").html(data[8]);
      $("#ac_supplier_id").val(data[2]);
      $("#ac_document_id").val(data[10]);

alert(date[12]); 
var today  = Date.parseDate(data[12], "dd-MM-yyyy HH:mm:ss") ;
var dd = today.getDate();
var mm = today.getMonth() + 1; //January is 0!
var yyyy = today.getFullYear();
if (dd < 10) {
  dd = '0' + dd;
} 
if (mm < 10) {
  mm = '0' + mm;
} 
var today = dd + '/' + mm + '/' + yyyy;

$("#supplierpayment_detail_fecha_documento").val(today);

alert("hollaa");


    });
    
     $("#supplierpayment_detail_total").bind("keyup", function() {
       
        var saldocheque = $("#ac_item_importe").val();
        var total = $("supplierpayment_detail_total").val();
    
        if(isNumeric(saldocheque) && isNumeric(total)) {
          
          if(saldocheque > total ){
          alert(" Importe de factura excede saldo Cheque");    
    
          }
        } else {
          $("#supplierpayment_detail_total").html("0.00");
        }
    
    });
    
    
  });
</script>