<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @supplierpayment_detail.document_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @supplierpayment_detail.documento %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @supplierpayment_detail.supplier_id %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @supplierpayment_detail.tm %>
</p>

<p>
  <strong>Total:</strong>
  <%= @supplierpayment_detail.total %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @supplierpayment_detail.descrip %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @supplierpayment_detail.purchase_id %>
</p>

<p>
  <strong>Supplier payment:</strong>
  <%= @supplierpayment_detail.supplier_payment_id %>
</p>

<p>
  <strong>Tipocambio:</strong>
  <%= @supplierpayment_detail.tipocambio %>
</p>

<%= link_to 'Editar', edit_supplierpayment_detail_path(@supplierpayment_detail) %> |
<%= link_to 'Regresar', supplierpayment_details_path %>
