


<% if @orden_product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@orden_product.errors.count, "error") %> prohibited this purchaseorder from being saved:</h2>

    <ul>
    <% @orden_product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for [@orden, @orden_product] do |f| %>

   <div class="form-inputs">


      
   <table>
      <tr>
        <th>Medio </th>
        <th>Motivo  </th>
        <th>Cantidad </th>        
        <th>Ubicacion</th>
        <th>Ciudad  </th>
        <th>Periodo  </th>
        <th>Detalle </th>      
        
        <th>Costo x Aviso  </th>
        
      
        <th>Costo Total </th>

      </tr>
    <tr>


      <td class="small bordered_bottom bordered_left", style="width: 80px" >
             <div class="field">
              <%= f.collection_select :medio_detail_id, @orden_product_medio_details, :id, :name , {:include_blank=> true}, :style=> 'width: 80px' %>
            </div>
      </td>

      <td class="small bordered_bottom bordered_left"> 
      <div class="field">
         <%= @orden.version.descrip  %>    
      </div>
      </td>


      <td class="small bordered_bottom bordered_left", style="width: 80px">
         <div class="field">
           <%= f.number_field :quantity ,:style=> 'width: 50px' ,min: 0,  :value => (number_with_precision(f.object.quantity , :precision => 2) || 0) ,:step => 0.01  %>
        </div>
      </td>


       <td class="small bordered_bottom bordered_left"> 
      <div class="field">        
        <%= f.text_field :ubicacion   ,:style=> 'width: 160px'  %>
      </div>
      </td>



       <td class="small bordered_bottom bordered_left", style="width: 80px"> 
      <div class="field">
          <%= f.text_field :ciudad ,:style=> 'width: 100px'  %>
      </div>
      </td>

       <td class="small bordered_bottom bordered_left", style="width: 80px">
        <div class="field">

          <%= f.text_field :periodo   ,:style=> 'width: 130px'  %>
        </div>
      </td>


        <td class="small bordered_bottom bordered_left", style="width: 80px">
        <div class="field">      

          <%= f.text_field :detalle   ,:style=> 'width: 130px'  %>
        </div>
      </td>




      <td class="small bordered_bottom bordered_left", style="width: 80px">
        <div class="field">
           
         <%= f.number_field :price ,:style=> 'width: 50px' ,min: 0,  :value => (number_with_precision(f.object.price, :precision => 2) || 0) ,:step => 0.01  %>
          </div>

      </td>

      <td class="small bordered_bottom bordered_left", style="width: 40px">
        <div>
            <span id="product_total">0.00000</span>
                
        </div>
      </td>




    </tr>

      </table>


     </div>

  <div class="form-actions">
    <%= f.hidden_field :avisodetail_id,:id => "ac_item_id" %>    
    <%= f.submit %>

  </div>
<% end %>




<%= render 'layouts/autocomplete' %>

<script type="text/javascript">

  $(document).ready(function() {

    $("#ac_item").autocomplete("/ordens/ac_programs/<%= @orden.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });

    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      updateItemOrden();
    });


    $('.selector').keydown(function (e) {
      var arrow = { left: 37, up: 38, right: 39, down: 40 };

      switch (e.which) {
        case arrow.left:
           updateItemOrden();
          
        case arrow.up:
          //..
          alert("key up") ; 
        updateItemOrden();
        case arrow.right:
          //..
        updateItemOrden();
        case arrow.down:
          //..
         updateItemOrden();
      }
    });


    $("#orden_product_quantity").bind("keyup", function() {
      updateItemOrden();      
    });



    $("#orden_product_price").bind("keyup", function() {
      updateItemOrden();      
    });



   
  // Update price total for invoice
  function updateItemOrden()

   {

   
   

    var tipo_orden = <%=  @orden.tipo_orden_id %>  ;
 
if (tipo_orden == 5 )
     {  
    
      
      var costo  =  $("#orden_product_price").val();
      var qty =  $("#orden_product_quantity").val();

       
      var importe = qty  * costo;     
             
       
       document.getElementById("product_total").innerHTML = Number((importe).toFixed(2));
       
       }
    
   }

  });


</script>
