  
<%= simple_form_for [@orden, @orden_product] do |f| %>
 
   <div class="form-inputs">
    
    
   <table>
      <tr>
        <th>Programa/elemento</th>
        <th>01</th>
        <th>02</th>
        <th>03</th>
        <th>04</th>
        <th>05</th>
        <th>06</th>        
        <th>07</th>
        <th>08</th>        
        <th>09</th>
        <th>10</th>        
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>        
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>        
        <th>23</th>
        <th>24</th>        
        <th>25</th>
        <th>26</th>        
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>        
        <th>31</th>        
        <th>Cantidad</th>
        <th>Tarifa</th>
        <th>Costo</th>
        <th>Total</th>
      </tr>
    <tr>
      <td>   
        <div >
        <input type="hidden" name="ac_item_id" id="ac_item_id" value="<% if @ac_item_id %><%= @ac_item_id %><% end %>"/>
        <input type="text" name="ac_item" id="ac_item" value="<% if @ac_item %><%= @ac_item %><% end %>"  />
        </div>
      </td>
      
      <td>        
        <div class="field">
          <%= f.number_field :d01,:style=> 'width: 25px',min: 0  %>
        </div>
      </td>
          
      <td>
        <div class="field">
          <%= f.number_field :d02,:style=> 'width: 25px',min: 0%>
        </div>
      </td>
      
      <td>
          <div class="field">
            <%= f.number_field :d03,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d04,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d05,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d06,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d07,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d08,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d09,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d10,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d11,:style=> 'width: 25px',min: 0%>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d12,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d13,:style=> 'width: 25px',min: 0%>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d14,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d15,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d16,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d17,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d18,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d19,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d20,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d21,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d22,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d23,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d24,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d25,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d26,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d27,:style=> 'width: 25px',min: 0%>
          </div>
      </td>

      <td>
        <div class="field">
            <%= f.number_field :d28,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>        
        <div class="field">
            <%= f.number_field :d29,:style=> 'width: 25px',min: 0%>
          </div>
      </td>


      <td>
        <div class="field">
            <%= f.number_field :d30,:style=> 'width: 25px',min: 0%>
          </div>
      </td>
      <td>
        <div class="field">
            <%= f.number_field :d31,:style=> 'width: 25px',min: 0 %>
          </div>
      </td>
      <td>
        <div class="small">
          <%= f.text_field :quantity ,:style=> 'width: 100px', :readonly => true %>
        </div>    
      </td>    
      
      <td>
        <div class="field">
            <%= f.number_field :tarifa,:style=> 'width: 50px',min: 0%>
          </div>
        
      </td>
      
      <td>
        <div class="small">
          <%= f.number_field :price ,:style=> 'width: 100px', :readonly => true %>
        </div>    
      </td>    
      <td>
        <div>
          <%= f.number_field :total ,:style=> 'width: 100px', :readonly => true %>
        </div>
      </td>
    </tr>
  
      </table>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :avisodetail_id,:id => "ac_item_id" %>
    
    <%= f.submit %>
    
  </div>
<% end %>

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/ordens/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);
    });
    
    
    
    $("#ac_user").autocomplete("/ordens/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/ordens/ac_programs/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);      
      updateItemOrden();
    });
    
    $("#orden_product_tarifa").bind("keyup", function() {
      updateItemOrden();
    });
    
    $("#orden_product_d01").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d02").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d03").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d04").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d05").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d06").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d07").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d08").bind("keyup", function() {
      updateItemOrden();
    });
    
    $("#orden_product_d09").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d10").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d11").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d12").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d13").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d14").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d15").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d16").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d17").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d18").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d19").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d20").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d21").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d22").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d23").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d24").bind("keyup", function() {
      updateItemOrden();
    });
    
    $("#orden_product_d25").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d26").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d27").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d28").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d29").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d30").bind("keyup", function() {
      updateItemOrden();
    });
    $("#orden_product_d31").bind("keyup", function() {
      updateItemOrden();
    });

    // Update price total for invoice

  });
  

</script>