<p id="notice"><%= notice %></p>

<p>
  <strong>Avisodetail:</strong>
  <%= @orden_product.avisodetail_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @orden_product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orden_product.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @orden_product.total %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden_product.fecha %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @orden_product.tarifa %>
</p>

<p>
  <strong>I:</strong>
  <%= @orden_product.i %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @orden_product.dia %>
</p>

<p>
  <strong>D01:</strong>
  <%= @orden_product.d01 %>
</p>

<p>
  <strong>D02:</strong>
  <%= @orden_product.d02 %>
</p>

<p>
  <strong>D03:</strong>
  <%= @orden_product.d03 %>
</p>

<p>
  <strong>D04:</strong>
  <%= @orden_product.d04 %>
</p>

<p>
  <strong>D05:</strong>
  <%= @orden_product.d05 %>
</p>

<p>
  <strong>D06:</strong>
  <%= @orden_product.d06 %>
</p>

<p>
  <strong>D07:</strong>
  <%= @orden_product.d07 %>
</p>

<p>
  <strong>D08:</strong>
  <%= @orden_product.d08 %>
</p>

<p>
  <strong>D09:</strong>
  <%= @orden_product.d09 %>
</p>

<p>
  <strong>D10:</strong>
  <%= @orden_product.d10 %>
</p>

<p>
  <strong>D11:</strong>
  <%= @orden_product.d11 %>
</p>

<p>
  <strong>D12:</strong>
  <%= @orden_product.d12 %>
</p>

<p>
  <strong>D13:</strong>
  <%= @orden_product.d13 %>
</p>

<p>
  <strong>D14:</strong>
  <%= @orden_product.d14 %>
</p>

<p>
  <strong>D15:</strong>
  <%= @orden_product.d15 %>
</p>

<p>
  <strong>D16:</strong>
  <%= @orden_product.d16 %>
</p>

<p>
  <strong>D17:</strong>
  <%= @orden_product.d17 %>
</p>

<p>
  <strong>D18:</strong>
  <%= @orden_product.d18 %>
</p>

<p>
  <strong>D19:</strong>
  <%= @orden_product.d19 %>
</p>

<p>
  <strong>D20:</strong>
  <%= @orden_product.d20 %>
</p>

<p>
  <strong>D21:</strong>
  <%= @orden_product.d21 %>
</p>

<p>
  <strong>D22:</strong>
  <%= @orden_product.d22 %>
</p>

<p>
  <strong>D23:</strong>
  <%= @orden_product.d23 %>
</p>

<p>
  <strong>D24:</strong>
  <%= @orden_product.d24 %>
</p>

<p>
  <strong>D25:</strong>
  <%= @orden_product.d25 %>
</p>

<p>
  <strong>D26:</strong>
  <%= @orden_product.d26 %>
</p>

<p>
  <strong>D27:</strong>
  <%= @orden_product.d27 %>
</p>

<p>
  <strong>D28:</strong>
  <%= @orden_product.d28 %>
</p>

<p>
  <strong>D29:</strong>
  <%= @orden_product.d29 %>
</p>

<p>
  <strong>D30:</strong>
  <%= @orden_product.d30 %>
</p>

<p>
  <strong>D31:</strong>
  <%= @orden_product.d31 %>
</p>


