
<% if @medio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medio.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @medio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= simple_form_for(@medio) do |f| %>
  
  <div class="field">
    <%= f.label :ruc, "R.U.C." %><br />
    <%= f.text_field :ruc %>
  </div>
  
  <div class="field">
    <%= f.label :descrip, "RAZON SOCIAL" %><br />
    <%= f.text_field :descrip %>
  </div>
  
  <div class="field">
    <%= f.label :grupo, "Tipo Medio" %><br />
    <%= f.text_field :grupo %>
  </div>
  <div class="field">
    <%= f.label :estacion, "Local/Estacion" %><br />
    <%= f.text_field :estacion %>
  </div>

  <div class="field">
    <%= f.check_box :taxable  %>
    <%= f.label :taxable, "IGV? " %>
  </div>



<h3>Medios - Detalles  </h3>


  <table>
   <tr>
   <th style="width: 5%">Item </th>
   <th style="width: 10%">Code </th>
   <th style="width: 30%">Producto </th>
  
   
   <% nroitem = 1 %>

   </tr>

    <%= f.fields_for :medio_details  do |rq_fields| %>
    
    <tr>

    <td style="width: 5%">  <%= nroitem %> </td>

    <td style="width: 10%">  <%= rq_fields.text_field :code , :size=>"5" %></td>

    <td style="width: 30%">  <%= rq_fields.text_field :name , :size=>"80" %></td>

    </tr>
  
    <% nroitem +=1 %>

    
    <% end %>

  </table>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
