<p id="notice"><%= notice %></p>

<h1>Medios </h1>


<table>
  <thead>
    <tr>
      <th>RUC</th>
      
      <th>Razon Social</th>
      <th>Tipo Medio</th>
      <th>Estacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<div class="button">
<%= link_to 'Nuevo Medio', new_medio_path %>




<%= link_to "Excel", medios_path(format: "xls") %>
</div>

  <tbody>
    <% @medios.each do |medio| %>
      <tr>
        <td><%= medio.ruc %></td>
        
        <td><%= medio.descrip %></td>

        <td><%= medio.grupo %></td>
        <td><%= medio.estacion %></td>
        <td><%= link_to 'Ver', medio %></td>
        <td><%= link_to 'Editar', edit_medio_path(medio) %></td>
         <%     if current_user.level == "admin"  %>
        <td><%= link_to 'Eliminar', medio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>

<h2>Importar Archivo  *.csv"</h2>

<%= form_tag import_medios_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>
