<p id="notice"><%= notice %></p>

<p>
  <strong>Razon Social:</strong>
  <%= @medio.descrip %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @medio.grupo %>
</p>

<p>
  <strong>Estacion:</strong>
  <%= @medio.estacion %>
</p>

     

  
  <div class="button">


<%= link_to 'Regresar', medios_path %>

</div>