<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @medio.descrip %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @medio.comments %>
</p>

<%= link_to 'Edit', edit_medio_path(@medio) %> |
<%= link_to 'Back', medios_path %>
