
<% if @contrato_abono.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contrato_abono.errors.count, "error") %> prohibited this orden from being saved:</h2>

    <ul>
    <% @contrato_abono.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div>
  <%= form_for(@contrato_abono) do |f| %>


  <div class="form-inputs">


    <div class="field">    
      <%= f.label :fecha %><br />
      <%= f.text_field :fecha  %>
    </div>


    <div class="field">
    
      <%= f.label :customer_id %><br />
      <%= f.select :customer_id,options_from_collection_for_select(@customers,'id','name') %>

    </div>

     <div class="field">
     <%= f.label :medio_id %><br />
      <%= f.select :medio_id,options_from_collection_for_select(@medios,'id','descrip') %>

    </div>

    <div class="field">
       <%= f.label :secu_cont %><br />
      <%= f.select :secu_cont,options_from_collection_for_select(@customercontrato,'secu_cont','secu_cont') %>
    </div>

   <div class="field"> 
      <%= f.label :moneda_id %><br />
      <%= f.select :moneda_id,options_from_collection_for_select(@monedas,'id','description') %>

    </div>





     <div class="field">
    <%= f.label :importe, "Importe*", :class => "bold" %><br />
    <%= f.number_field :importe ,:step => 0.01 %>   
    </div>  
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
