<%= simple_form_for(@contrato_cuotum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nro %>
    <%= f.input :fecha %>
    <%= f.input :cuota %>
    <%= f.input :vventa %>
    <%= f.input :comision1 %>
    <%= f.input :comision2 %>
    <%= f.input :total %>
    <%= f.input :facturacanal %>
    <%= f.input :factura1 %>
    <%= f.input :factura2 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
