<p id="notice"><%= notice %></p>

<p>
  <strong>Nro:</strong>
  <%= @contrato_cuotum.nro %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @contrato_cuotum.fecha %>
</p>

<p>
  <strong>Cuota:</strong>
  <%= @contrato_cuotum.cuota %>
</p>

<p>
  <strong>Vventa:</strong>
  <%= @contrato_cuotum.vventa %>
</p>

<p>
  <strong>Comision1:</strong>
  <%= @contrato_cuotum.comision1 %>
</p>

<p>
  <strong>Comision2:</strong>
  <%= @contrato_cuotum.comision2 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @contrato_cuotum.total %>
</p>

<p>
  <strong>Facturacanal:</strong>
  <%= @contrato_cuotum.facturacanal %>
</p>

<p>
  <strong>Factura1:</strong>
  <%= @contrato_cuotum.factura1 %>
</p>

<p>
  <strong>Factura2:</strong>
  <%= @contrato_cuotum.factura2 %>
</p>

<%= link_to 'Edit', edit_contrato_cuotum_path(@contrato_cuotum) %> |
<%= link_to 'Back', contrato_cuota_path %>
