<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :ruc, "R.U.C. *", :class => "bold" %><br />
    <%= f.text_field :ruc %>
  </div>
  
  <div class="field">
    <%= f.label :name, "Razon Social *", :class => "bold" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address1, "Direccion " %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2, "Distrito" %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city,"Provincia" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state,"Departamento" %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip, "ZIP/Codigo Postal" %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country ,"Pais" %><br />
    
    <% if @edit %>
      <%= f.select :country, countries_array %>
    <% else %>
      <%= f.select :country, options_for_select(countries_array, "Peru") %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :account, "Codigo interno" %><br />
    <%= f.text_field :account, :onclick => "$(this).select();" %>
  </div>
  <div class="field">
    <%= f.label :phone1, "Phone 1" %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2, "Phone 2" %><br />
    <%= f.text_field :phone2 %>
  </div>
  
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.check_box :taxable %>
    <%= f.label :taxable %>
  </div>
  

<% nroitem =  1 %>

<h3>Clientes - Contactos  </h3>

<table>


   <tr>
   <th style="width: 5%">Item </th>
   <th style="width: 5%">Code </th>
   <th style="width: 15%">Nombre </th>
   <th style="width: 15%">Cargo </th>
   <th style="width: 15%">Telefono 1 </th>
   <th style="width: 15%">Telefono 2 </th>
   <th style="width: 15%">Telefono 3 </th>
   <th style="width: 10%">Anexo 1</th>
   <th style="width: 10%">Anexo 2</th>
   <th style="width: 10%">Anexo 3</th>
   
   <th style="width: 10%">Celular 1</th>
   <th style="width: 10%">Celular 2</th>
   <th style="width: 10%">Celular 3</th>
   
   <th style="width: 10%">Correo 1</th>
   <th style="width: 10%">Correo 2</th>
   
   
   <% nroitem = 1 %>

   </tr>

    <%= f.fields_for :customer_contacts  do |rq_fields2| %>
    
    <tr>

    <td style="width: 5%">  <%= nroitem %> </td>

    <td style="width: 10%">  <%= rq_fields2.text_field :code , :size=>"5" %></td>

    <td style="width: 15%">  <%= rq_fields2.text_field :name , :size=>"15" %></td>

    <td style="width: 15%">  <%= rq_fields2.text_field :cargo , :size=>"15" %></td>    
    <td style="width: 15%">  <%= rq_fields2.text_field :telefono1 , :size=>"15" %></td>
    <td style="width: 15%">  <%= rq_fields2.text_field :telefono2 , :size=>"15" %></td>    
    <td style="width: 30%">  <%= rq_fields2.text_field :telefono3 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :anexo1 , :size=>"15" %></td>    
    <td style="width: 30%">  <%= rq_fields2.text_field :anexo2 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :anexo3 , :size=>"15" %></td>    
    <td style="width: 30%">  <%= rq_fields2.text_field :celular1 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :celular2 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :celular3 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :correo1 , :size=>"15" %></td>
    <td style="width: 30%">  <%= rq_fields2.text_field :correo2 , :size=>"15" %></td>
    
             

    </tr>

   
  
    <% nroitem +=1 %>

    
    <% end %>
   </table>
    <div class="actions">
    <%= f.hidden_field :company_id %>
    <%= f.submit %>
  </div>


<% end %>





</div>
