<div class="mid_box bordered_right">

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "EE.CC. Clientes ", "/companies/reports/rpt_cadmin1_all/#{@company.id}" %>
  </h3>

  <p>
     Reporte de EE.CC. Clientes
  </p>
  
  

  
  <%= hr() %>

   <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
 <%= link_to "EE.CC. Medios ", "/companies/reports/rpt_cadmin2_all/#{@company.id}" %>

  </h3>

  <p>
     Reporte de EE.CC. Medios 
  </p>
  
  

  
  <%= hr() %>

</div>

<div class="mid_box">

  <h3>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
 <%= link_to "Reporte de comisiones", "/companies/reports/rpt_cadmin3_all/#{@company.id}" %>

  </h3>

  <p>
    Reportes de comisiones 
  </p>

  <%= hr() %>



  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
   <%= link_to "Reporte de cobranzas ", "/companies/reports/rpt_cadmin4_all/#{@company.id}" %>

  </h3>

  <p>
     Reporte de cobranzas
  </p>

 <%= hr() %>




  <p>
  





  </p>
<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>


<br>

<br>

<br>

