<div class="mid_box bordered_right">


  
<h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Medios",medios_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar medios .
  </p>

  <%= hr() %>

  

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Marca",marcas_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar marcas .
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_category_32.png", :class => "vmiddle") %>
    <%= link_to "Aviso ", tipoavisos_path %>
  </h3>

  <p>
     Agregar, editar or eliminar los tipos de aviso
  </p>


  <%= hr() %>
  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Version", versions_path %>
  </h3>

  <p>
     Agregar, editar or eliminar version 
  </p>

<%= hr() %>


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Programa elemento", avisodetails_path %>
  </h3>

  <p>
     Agregar, editar or eliminar programas para tu negocio.
  </p>


  
</div>

<div class="mid_box">
  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Periodos", periodos_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar periodos
     .
  </p>

<%= hr() %>

  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Campaña", campania_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar una compañia
  </p>

  
  
<%= hr() %>

  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Ciudad", ciudads_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar una ciudad 
  </p>  
  
<%= hr() %>



  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Empleados", employees_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar una ciudad 
  </p>  
  
<%= hr() %>


</div>
