<div class="mid_box bordered_right">


  <h3>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Clientes", "/companies/customers/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar clientes para tu negocio.
  </p>

  <%= hr() %>
  
<h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Medios",medios_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar medios .
  </p>

  <%= hr() %>

  

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Marca",marcas_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar marcas .
  </p>

<%= hr() %>
<h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Producto",productos_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar producto .
  </p>
<%= hr() %>
  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Version", versions_path %>
  </h3>

  <p>
     Agregar, editar or eliminar version 
  </p>


  <%= hr() %>

  <h3>
    <%= image_tag("product_category_32.png", :class => "vmiddle") %>
    <%= link_to "Aviso ", tipoavisos_path %>
  </h3>

  <p>
     Agregar, editar or eliminar los tipos de aviso
  </p>


  
<%= hr() %>


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Programa elemento", avisodetails_path %>
  </h3>

  <p>
     Agregar, editar or eliminar programas para tu negocio.
  </p>

<%= hr() %>
  


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Usuarios", users_path %>
  </h3>

  <p>
     Agregar, editar or eliminar usuarios para tu negocio.
  </p>

<%= hr() %>
  
</div>

<div class="mid_box">
  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Periodos", periodos_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar periodos
     .
  </p>

<%= hr() %>

  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Campaña", campania_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar una compañia
  </p>

  
  
<%= hr() %>

  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Ciudad", ciudads_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar una ciudad 
  </p>  
  
<%= hr() %>



  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Empleados", employees_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar una ciudad 
  </p>  
  
<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Categorias",category_programs_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar una ciudad 
  </p>  
  
<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo de ordenes ",tipo_ordens_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar un tipo
  </p>  

<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Conceptos cheques ",concepts_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar un concepto de cheques 
  </p>  

<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to " Tipo movimientos  ",tipomovs_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar un concepto de cheques 
  </p>  

<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to " Documentos  ",documents_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar documentos 
     
  </p>  

<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo Avisos",tipo_avisos_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar tipo avisos 
     
  </p>  

<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo tarifa ",tipo_tarifas_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar tipo tarifa 
     
  </p> 


<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo tarifa  CPMs ",tipo_cpms_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar tipo tarifa cpm 
     
  </p> 


<%= hr() %>


  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Tipo Formatos ",tipo_formatos_path %> 
        </div>
  </h3>
  <p>
     Agregar, editar or agregar tipo formatos
     
  </p> 




</div>
