<div class="mid_box bordered_right">
  
  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Contratos ", contratos_path %>
  </h3>

  <p>
    Agregar, editar or eliminar los contratos  que tu negocio ofrece.
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Ordenes de publicidad",  "/companies/ordens/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar  las ordenes.
  </p>

  <%= hr() %>

  
</div>

<div class="mid_box">
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Tipo de cambio", tipocambios_path %>
  </h3>

  <p>
    Tipo de cambio sunat
  </p>
<%= hr() %>

  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Cliente  por contrato ", customer_contratos_path %>
  </h3>

  <p>
    Tipo de cambio sunat
  </p>
<%= hr() %>



  <h3>
  <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/reports_contratos/#{@company.id}" %>

  </h3>

  <p>
    Reportes

    
  </p>




</div>


<%= hr() %>