<div class="mid_box bordered_right">
  

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Registro de cheques", "/companies/supplier_payments/#{@company.id}" %>
  </h3>
  <p>
     Cancelar documentos 
  </p>
 <%= hr() %>



  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Registrar caja bancos", stamentacounts_path  %>

    </h3>

  <p>
    Registrar estado de cuenta   
  </p>  

  <%= hr() %>


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
     <%= link_to "Registrar Conciliacion Bancaria", conciliabanks_path %>
  </h3>

  <p>
    Generar conciliacion bancaria 

  </p>  
  <%= hr() %>

  <%= hr() %>


  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
     <%= link_to "Conciliacion Bancaria", "/companies/reports/rpt_concilia_1" %>
  </h3>

  <p>
    Generar conciliacion bancaria 

  </p>  
  <%= hr() %>

  

</div>

<div class="mid_box">
  <h3>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Bancos", banks_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar bancos 
  </p>

  <%= hr() %>  

  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Cuentas bancarias ", bank_acounts_path %>
  </h3>
  <p>
     Agregar, editar or eliminar cuentas por pagar 
  </p>
  
<%= hr() %>
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/reports_cpagar/#{@company.id}" %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
  <%= hr() %>  
  
</div>