<%= simple_form_for(@version) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descrip %>
    <%= f.input :producto_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
