<%= simple_form_for(@version) do |f| %>
  <%= f.error_notification %>

  
   <div class="field">
      <%= f.label :descrip, "Version  *", :class => "bold" %><br />
      <%= f.text_field :descrip %>
    </div>
    
    <div class="field">
      <%= f.label :producto_id , "Producto*", :class => "bold" %><br />
      <%= f.collection_select :producto_id, @productos, :id, :name,{:prompt   => "Seleccione un producto "}  ,:style=> 'width: 350px'%>
      </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
