<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @version.descrip %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @version.comments %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
