<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipo_formato.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipo_formato.name %>
</p>

<%= link_to 'Edit', edit_tipo_formato_path(@tipo_formato) %> |
<%= link_to 'Back', tipo_formatos_path %>
