<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @campanium.descrip %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @campanium.comments %>
</p>

<%= link_to 'Edit', edit_campanium_path(@campanium) %> |
<%= link_to 'Back', campania_path %>
