
<%= simple_form_for [@medio, @medio_detail ] do |f| %>


  <%= f.error_notification %>

  <div class="form-inputs">

    
   <div class="field">
    <%= f.label :name, "Producto" %><br />
    <%= f.text_field :name %>
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
