<p id="notice"><%= notice %></p>

<h1>Listing Stamentacounts</h1>

<table>
  <thead>
    <tr>
      <th>Bank account</th>
      <th>Fecha1</th>
      <th>Fecha2</th>
      <th>Saldo inicial</th>
      <th>Saldo final</th>
      <th>User</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stamentacounts.each do |stamentacount| %>
      <tr>
        <td><%= stamentacount.bank_account_id %></td>
        <td><%= stamentacount.fecha1 %></td>
        <td><%= stamentacount.fecha2 %></td>
        <td><%= stamentacount.saldo_inicial %></td>
        <td><%= stamentacount.saldo_final %></td>
        <td><%= stamentacount.user_id %></td>
        <td><%= stamentacount.company_id %></td>
        <td><%= link_to 'Show', stamentacount %></td>
        <td><%= link_to 'Edit', edit_stamentacount_path(stamentacount) %></td>
        <td><%= link_to 'Destroy', stamentacount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stamentacount', new_stamentacount_path %>
