<p id="notice"><%= notice %></p>

<h1>Listado Movimiento Cuentas </h1>

<table>
  <thead>
    <tr>
      <th>Banco</td>
      
      <th>Cuenta bancaria</th>
      <th>Moneda </th>
      
      <th>Fec.Inicial</th>
      <th>Fec.final </th>
      <th>Saldo inicial</th>
      <th>Saldo final</th>
      <th colspan="3">Opciones</th> 
    </tr>
  </thead>

  <tbody>
    <% @stamentacounts.each do |stamentacount| %>
      <tr>
        <td><%= stamentacount.bank_acount.bank.name  %></td>
        
        <td><%= stamentacount.bank_acount.number %></td>
        <td><%= stamentacount.bank_acount.moneda.description %></td>
        
        <td><%= stamentacount.fecha1.strftime("%d/%m/%Y") %></td>
        <td><%= stamentacount.fecha2.strftime("%d/%m/%Y") %></td>
        <td align="rigth"><%= money(stamentacount.saldo_inicial) %></td>
        <td align="rigth"><%= money(stamentacount.saldo_final) %></td>
        <td><%= link_to 'Ver', stamentacount %></td>
        <td><%= link_to 'Editar', edit_stamentacount_path(stamentacount) %></td>
        <% if current_user.email == "percywoeds@gmail.com"%>
        <td><%= link_to 'Eliminar', stamentacount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttons">

<%= link_to 'Nuevo Movimiento', new_stamentacount_path %>
<%= link_to 'Regresar', "/companies/cpagar/1" %>

</div>
