<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @customer_contact.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer_contact.name %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @customer_contact.cargo %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @customer_contact.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @customer_contact.telefono2 %>
</p>

<p>
  <strong>Telefono3:</strong>
  <%= @customer_contact.telefono3 %>
</p>

<p>
  <strong>Anexo1:</strong>
  <%= @customer_contact.anexo1 %>
</p>

<p>
  <strong>Anexo2:</strong>
  <%= @customer_contact.anexo2 %>
</p>

<p>
  <strong>Anexo3:</strong>
  <%= @customer_contact.anexo3 %>
</p>

<p>
  <strong>Celular1:</strong>
  <%= @customer_contact.celular1 %>
</p>

<p>
  <strong>Celular2:</strong>
  <%= @customer_contact.celular2 %>
</p>

<p>
  <strong>Celular3:</strong>
  <%= @customer_contact.celular3 %>
</p>

<p>
  <strong>Correo1:</strong>
  <%= @customer_contact.correo1 %>
</p>

<p>
  <strong>Correo2:</strong>
  <%= @customer_contact.correo2 %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @customer_contact.contacto_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer_contact.user_id %>
</p>

<%= link_to 'Edit', edit_customer_contact_path(@customer_contact) %> |
<%= link_to 'Back', customer_contacts_path %>
