<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipo_aviso.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipo_aviso.name %>
</p>



<%= link_to 'Edit', edit_tipo_aviso_path(@tipo_aviso) %> |
<%= link_to 'Back', tipo_avisos_path %>
