<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @medio_contact.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @medio_contact.name %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @medio_contact.cargo %>
</p>

<p>
  <strong>Telefon1:</strong>
  <%= @medio_contact.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @medio_contact.telefono2 %>
</p>

<p>
  <strong>Telefono3:</strong>
  <%= @medio_contact.telefono3 %>
</p>

<p>
  <strong>Anexo1:</strong>
  <%= @medio_contact.anexo1 %>
</p>

<p>
  <strong>Anexo2:</strong>
  <%= @medio_contact.anexo2 %>
</p>

<p>
  <strong>Anexo3:</strong>
  <%= @medio_contact.anexo3 %>
</p>

<p>
  <strong>Celular1:</strong>
  <%= @medio_contact.celular1 %>
</p>

<p>
  <strong>Celular2:</strong>
  <%= @medio_contact.celular2 %>
</p>

<p>
  <strong>Celular3:</strong>
  <%= @medio_contact.celular3 %>
</p>

<p>
  <strong>Correo1:</strong>
  <%= @medio_contact.correo1 %>
</p>

<p>
  <strong>Correo2:</strong>
  <%= @medio_contact.correo2 %>
</p>


<%= link_to 'Edit', edit_medio_contact_path(@medio_contact) %> |
<%= link_to 'Back', medio_contacts_path %>
