<p id="notice"><%= notice %></p>

<h1>Listing Orden Comisions</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_comisions.each do |orden_comision| %>
      <tr>
        <td><%= orden_comision.code %></td>
        <td><%= orden_comision.name %></td>
        <td><%= link_to 'Show', orden_comision %></td>
        <td><%= link_to 'Edit', edit_orden_comision_path(orden_comision) %></td>
        <td><%= link_to 'Destroy', orden_comision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden comision', new_orden_comision_path %>
