<p id="notice"><%= notice %></p>

<h1>Listado Programas / Elemento </h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Categoria  </th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avisodetails.each do |avisodetail| %>
      <tr>
        <td><%= avisodetail.descrip %></td>
        <td><%= avisodetail.category_program.descrip %></td>
        
        <td><%= link_to 'Ver', avisodetail %></td>
        <td><%= link_to 'Editar', edit_avisodetail_path(avisodetail) %></td>
         <%     if current_user.level != "admin"  %>

        <td><%= link_to 'Eliminar', avisodetail, method: :delete, data: { confirm: 'Esta seguro eliminar ?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Programa', new_avisodetail_path %>



<h4>Importar Archivo  "*.csv"</h4>

<%= form_tag import_avisodetails_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>
