<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @avisodetail.descrip %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @avisodetail.comments %>
</p>

<%= link_to 'Edit', edit_avisodetail_path(@avisodetail) %> |
<%= link_to 'Back', avisodetails_path %>
