<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @avisodetail.descrip %>
</p>

<p>
  <strong>Comentario :</strong>
  <%= @avisodetail.comments %>
</p>

<%= link_to 'Editar', edit_avisodetail_path(@avisodetail) %> |
<%= link_to 'Regresar', avisodetails_path %>
