<%= simple_form_for(@producto) do |f| %>
  <%= f.error_notification %>


   <div class="field">
      <%= f.label :name, "Producto *", :class => "bold" %><br />
      <%= f.text_field :name %>
    </div>
    
<div class="field">
      <%= f.label :marca_id , "Marca*", :class => "bold" %><br />
      <%= f.collection_select :marca_id, @marcas, :id, :name,{:prompt   => "Seleccione un cliente "} %>
      </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
