<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @producto.name %>
</p>

<p>
  <strong>Marca :</strong>
  <%= @producto.marca.name %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Regresar', productos_path %>
