<% if @contrato.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this orden from being saved:</h2>

    <ul>
    <% @contrato.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>




<%= simple_form_for(@contrato) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="field">
    
    <%= f.label :code, "CODIGO *", :class => "bold" %><br />
    <%= f.text_field :code , :onclick => "$(this).select();" %>
    </div>
    
    <div class="field">
    <%= f.label :codigointerno,"Codigo Interno :  " %><br />
    <%= f.text_field :codigointerno  %>
    </div>
    
    
    <div class="field">

    
    <%= f.label :fecha %><br />
    <%= f.text_field :fecha ,value:Time.now.strftime("%d/%m/%Y") %>

    </div>
  


    <div class="field">
      <%= f.label :customer_id,"Clientes  " %><br />
    <%= f.collection_select :customer_id, @customers, :id, :name, :prompt => true %>
    </div>
    
    <div class="field">
      <%= f.label :medio_id,"Medios  " %><br />
      <%= f.collection_select :medio_id, @medios, :id, :full_name, :prompt => true %>
    </div>

    <div class="field">
    <%= f.label :importe,"Importe " %><br />
    <%= f.number_field :importe, :step => 0.1 %>
    </div>


    <div class="field">
    <%= f.label :moneda_id ," Moneda "%><br />
    <%= f.collection_select :moneda_id, @monedas, :id, :description, :prompt => true %>
    </div>

    <div class="field">
    <%= f.label :tipocontrato_id ,"TIPO CONTRATO "%><br />

    <% if @edit %>
      <%= f.select :tipocontrato_id,options_for_select([["CUOTAS",1],["CONTRA CONSUMO",2],["LETRAS",3]],:selected => @contrato.tipocontrato_id)%>
    <% else %>
    
    <%= f.select :tipocontrato_id, options_for_select([["CUOTAS",1],["CONTRA AVISO",2],["LETRAS",3]]) %>
     <% end %> 
    
    </div>

    <div class="field">
    <%= f.label :nrocuotas,"Nro.Cuotas " %><br />
    <%= f.text_field :nrocuotas %>
    </div>

    <div class="field">
    <%= f.label :comision1,"Comision 1:  " %><br />
    <%= f.number_field :comision1  %>
    </div>

    <div class="field">
    <%= f.label :comision2,"Comision 2:  " %><br />
    <%= f.number_field :comision2  %>
    </div>
    
    <div class="field">
    <%= f.label :comision3,"Comision 3:  " %><br />
    <%= f.number_field :comision3  %>
    </div>
    <div class="field">
    <%= f.label :description,"Descripcion :  " %><br />
    <%= f.text_field :description  %>
    </div>
        
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>
