<html>
<body>
    
  
  <h4 ><center>ESTADO DE CUENTA CLIENTES </center>   </h4>
  <h5><center> Desde: <%= @fecha1.to_s %>  Hasta: <%= @fecha2.to_s %> </center></h5>
  <font size="2" face="Courier New" >  
  
  <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
  <tr bgcolor="#B4D7F7">
  
    <th width="8%"> Orden </th>
    <th width="8%"> Fecha   </th>
    <th width="30%">Motivos </th>
    <th width="10%"> Avisos</th>
    <th width="5%"> Seg</th>
    <th width="10%">Abonos</th>
    <th width="10%">Cargos</th>
    <th width="10%">Cargos <br>Acum.</th>
    <th width="10%">Saldo</th>
  </tr>
  </table>
      
        <%  @ordenes.each do |product| %>

             <table style=  'font-size:80% ;width:100%'>
                <tr style="font-weight:bold">
                <td>CLIENTE</td>
                <td><%= product.customer.ruc %> </td>
                <td><%= product.customer.name %> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                </table>
                
                  <table style=  'font-size:80% ;width:100%'>    
                    <tr style="font-weight:bold">
                    <td>Medio: </td>
                    <td> <%= product.medio.descrip %></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                  </table>

                   <table style=  'font-size:80% ;width:100%'>    
                    <tr style="font-weight:bold">
                   
                      <td> Contrato : </td>
                      <td> <%= product.secu_cont %> </td>
                      <td> </td>
                      <td></td>
                      <td></td>
                       <td>Mon: <%= product.get_moneda(product.moneda_id ) %></td>
                    </tr>
                    </table>
                    

                <%  @detalle = product.get_ordenes_detalle(@fecha1,@fecha2,product.customer_id,product.medio_id,product.secu_cont,product.moneda_id)%>        

                <% if @detalle.all.size > 0 %>
                        <% @saldo = 0 %>
                        <% @total_cargos = 0 %>
                       
                     <% lcMes = @detalle.first.month  %>
                       
                     <% @detalle.each do |orden1| %> 

                              <%  @saldo += orden1.total %>

                             <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
                              <tr>
                              <td width="15%"> <%= orden1.code  %></td>
                              <td width="8%">  <%= orden1.fecha.strftime("%d/%m/%Y")  %> </td>
                              <% if orden1.version != nil %>
                              <td width="23%"> <%= orden1.version.descrip %> </td>
                              <% else %>
                              <td width="23%"> <%= orden1.version_id %> </td>
                              <% end %>
                              <td width="10%" align="right"><%= orden1.quantity %></td>
                              <td width="5%"  align="right"> <%= orden1.tiempo %></td>
                              <td width="10%" align="right"><%= orden1.month %> </td>
                              <td width="10%" align="right"><%= sprintf("%.2f",orden1.total.to_s)  %> </td>
                              <td width="10%" align="right"> </td>
                              <td width="10%" align="right"><%= sprintf("%.2f",@saldo.to_s)%></td>
                              </tr>
                             </table>
          
                             
                              <%  @total_cargos = orden1.total %>

                              <% if lcMes  != orden1.month %> 

                                <table style=  'font-size:80% ;width:100%'>       
                                    <tr>
                                    <td width="8%"> </td>
                                    <td width="8%">Total Mes  </td>
                                    <td width="30%"> </td>
                                    <td width="10%" align="right"> </td>
                                    <td width="5%" align="right"> </td>
                                    <td width="10%" align="right"> <%= sprintf("%.2f",@total_cargos.to_s)  %></td>
                                    <td width="10%" align="right"> </td>
                                    <td width="10%" align="right"> <%= sprintf("%.2f",@saldo.to_s)%></td>
                                    <td width="10%" align="right">  </td>
                                    </tr>                           
                                </table>
                              <% else %>
                               <% lcMes = orden1.month %> 
                               <% @total_cargos = 0 %>

                              <% end %>

                    <%end%>


              <%end%>
          <%end%>
       
        
        <hr>
        
      </body>
      </html>