<p id="notice"><%= notice %></p>

<h1>Contratos</h1>

  <%= form_tag(contratos_path, :method => "get", id: "search-form") do %>

  <%= text_field_tag :search, params[:search], placeholder: "Buscar Contratos por año" %>
  <%= submit_tag "Buscar" %>
  <% end %>

 <%= form_tag(contratos_path, :method => "get", id: "search-form") do %>

  <%= text_field_tag :search, params[:search], placeholder: "Buscar por numero de contratos" %>
  <%= submit_tag "Buscar" %>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
      <th>Customer</th>
      <th>Medio</th>
      <th>Importe</th>
      <th>Moneda</th>
      <th>Tipocontrato</th>
      <th>Nrocuotas</th>
      <th>Comision1</th>
      <th>Comision2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
         <td class="small bordered_bottom bordered_right"><%= contrato.code %></td>
         <td class="small bordered_bottom bordered_right"><%= contrato.fecha.strftime("%d/%m/%Y") %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.customer.name  %></td>
         <% if contrato.medio.nil? %> 
         <td class="small bordered_bottom bordered_right"><%= contrato.medio_id  %></td>
         
         <% else %>

           <td class="small bordered_bottom bordered_right"><%= contrato.medio.descrip  %></td>
        <% end %>

        <td class="small bordered_bottom bordered_right"><%= money(contrato.importe) %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.moneda.description  %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.get_contrato %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.nrocuotas %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.comision1 %></td>
        <td class="small bordered_bottom bordered_right"><%= contrato.comision2 %></td>
        <td class="small bordered_bottom bordered_right"><%= link_to 'Cuotas', contrato %></td>
        <td class="small bordered_bottom bordered_right"><%= link_to 'Editar', edit_contrato_path(contrato) %></td>
        <% if current_user.email== "percywoeds@gmail.com"%>
        <td class="small bordered_bottom bordered_right"><%= link_to 'Eliminar', contrato, method: :delete, data: { confirm: 'Esta seguro de eliminar ?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @contratos %>  


<div class="button">
<%= link_to 'Nuevo Contrato',new_contrato_path  %>
</div>

<h2>Importar Archivo contratos "*.csv"</h2>

<%= form_tag import_contratos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>
<%=
  link_to 'Download as Excel',
  contratos_path(format: :xlsx)
%>