<p id="notice"><%= notice %></p>

<h1>Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
      <th>Customer</th>
      <th>Medio</th>
      <th>Importe</th>
      <th>Moneda</th>
      <th>Tipocontrato</th>
      <th>Nrocuotas</th>
      <th>Comision1</th>
      <th>Comision2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.code %></td>
        <td><%= contrato.fecha %></td>
        <td><%= contrato.customer.name  %></td>
        <td><%= contrato.medio.descrip  %></td>
        <td><%= contrato.importe %></td>
        <td><%= contrato.moneda.description  %></td>
        <td><%= contrato.get_contrato %></td>
        <td><%= contrato.nrocuotas %></td>
        <td><%= contrato.comision1 %></td>
        <td><%= contrato.comision2 %></td>
        <td><%= link_to 'Cuotas', contrato %></td>
        <td><%= link_to 'Edit', edit_contrato_path(contrato) %></td>
        <td><%= link_to 'Eliminar', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Contrato',new_contrato_path  %>

<h2>Importar Archivo contratos "*.csv"</h2>

<%= form_tag import_contratos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>


