
<h1>
  <%= image_tag("supplier_48.png", :class => "vmiddle") %>
    <%= @contrato.codigointerno  %>
</h1>

<%= hr() %>


<p id="notice"><%= notice %></p>


<% if @contrato.code %>
  <p>
    <b>Codigo  :</b>
    <%= link_to @contrato.code, @contrato.code %>
  </p>
<% end %>


<p>

<p>
  <strong>Fecha:</strong>
  <%= @contrato.fecha %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contrato.customer.name %>
</p>

<p>
  <strong>Medio:</strong>
  <%= @contrato.medio.descrip %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @contrato.importe %>
</p>

<p>
  <strong>Moneda:</strong>

  <%= @contrato.get_moneda %>

</p>

<p>
  <strong>Tipocontrato:</strong>
  
 <%= @contrato.get_contrato %>

</p>

<p>
  <strong>Nrocuotas:</strong>
  <%= @contrato.nrocuotas %>
</p>

<p>
  <strong>Comision1:</strong>
  <%= @contrato.comision1 %>
</p>

<p>
  <strong>Comision2:</strong>
  <%= @contrato.comision2 %>
</p>
<p>
  <strong>Comision3:</strong>
  <%= @contrato.comision3 %>
</p>

<div class="row">

  <div class="col-md-12">
    <div class="contrato_cuota">
      <h3> Cuotas   </h3>
      <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 20px;">
          Numero
        </th>
        <th class="bordered_right bordered_bottom" style="width: 50px;">
          Fecha
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Cuota c/IGV
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          V.Venta
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Comision 1 
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Comision 2
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Total Comision 
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Factura Canal
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
          Factura 1 Masa
        </th>
        
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Factura 2 Masa
        </th>
        <th class="bordered_right bordered_bottom" style="width: 100px;">
         Fecha Pago 
        </th>
         <th class="bordered_right bordered_bottom" style="width: 100px;">
           Sit 
        </th>



      </tr>
    </thead>
    <tbody>
      
   <% t_importe = 0    %>
   <% t_vventa = 0    %>
   <% t_comision1 = 0    %>
   <% t_comision2 = 0    %>
   
   <% t_total = 0    %>
   
   <%  @contrato_details.each do |quote| %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= quote.nro %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= quote.fecha.strftime("%d/%m/%Y")  %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= quote.importe %>
          </td>
                    
          <td class="bordered_right bordered_bottom">
            <%= quote.vventa  %>
          </td>
           <td class="bordered_right bordered_bottom">
            <%= quote.comision1  %>
          </td>
           <td class="bordered_right bordered_bottom">
            <%= quote.comision2  %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= quote.total  %>
          </td>
        <td class="bordered_right bordered_bottom">
            <%= quote.facturacanal  %>
          </td>
        <td class="bordered_right bordered_bottom">
            <%= quote.factura1  %>
        <td class="bordered_right bordered_bottom">
            <%= quote.factura2 %>
          </td>
         <td class="bordered_right bordered_bottom">
            <%= quote.fecha_pago %>
          </td>
         <td class="bordered_ right bordered_bottom">
            <% if quote.nil? %>
                <%   %>
            <%else%>
                  Cancelado 
            <%end %>
          </td>
          
        <% t_importe += quote.importe    %>        
        <% t_vventa += quote.vventa    %>        
        <% t_comision1 += quote.comision1    %>        
        <% t_comision2 += quote.comision2   %>        
        <% t_total += quote.total   %>        
        
          <td><%= link_to 'Editar', edit_contrato_contrato_detail_path(contrato_id: @contrato.id,id: quote.id ) %></td>          
          <td><%= link_to 'Eliminar',[@contrato,quote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
  <%end %>        
  
  <tr>
          <td class="bordered_right bordered_bottom">
           
          </td>
          <td class="bordered_right bordered_bottom">
            Totales 
          </td>
          <td class="bordered_right bordered_bottom">
            <%= sprintf("%2.2f",t_importe) %>
          </td>
                    
                    
          <td class="bordered_right bordered_bottom">
            <%= sprintf("%2.2f",t_vventa)  %>
          </td>
           <td class="bordered_right bordered_bottom">
            <%= sprintf("%2.2f",t_comision1)  %>
          </td>
           <td class="bordered_right bordered_bottom">
            <%= sprintf("%2.2f",t_comision2)  %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= sprintf("%2.2f",t_total)  %>
          </td>
        <td class="bordered_right bordered_bottom">
            
          </td>
        <td class="bordered_right bordered_bottom">
            
          </td>
        <td class="bordered_right bordered_bottom">
            
          </td>
        
  
    </tbody>
  </table>

      </div>
    </div>


  </div>  
  

  
<div class="button">
<%= link_to 'Agregar Item', new_contrato_contrato_detail_path(@contrato) %>
<%= link_to 'Editar', edit_contrato_path(@contrato) %> 
<%= link_to 'Regresar', contratos_path %>
</div>
<%= form_tag import_contrato_details_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>



</div>

