<p id="notice"><%= notice %></p>

<h1>Listing Canals</h1>

<table>
  <thead>
    <tr>
      <th>Descrip</th>
      <th>Ruc</th>
      <th>Address1</th>
      <th>Phone1</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canals.each do |canal| %>
      <tr>
        <td><%= canal.descrip %></td>
        <td><%= canal.ruc %></td>
        <td><%= canal.address1 %></td>
        <td><%= canal.phone1 %></td>
        <td><%= link_to 'Show', canal %></td>
        <td><%= link_to 'Edit', edit_canal_path(canal) %></td>
        <td><%= link_to 'Destroy', canal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canal', new_canal_path %>
