<%= render 'layouts/charts' %>

<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Reporte de Ordenes
</h1>

  
<%= form_tag(reportes_ordens_path, :method => "get") do %>

<p> Desde</p>

<%= select_tag(:year, options_for_select(@years, @year), :style =>"width: 100px" )  %>

<%= select_tag(:month, options_for_select(@months, @month), :style =>"width: 100px" ) %>
<br>

    <p> Hasta</p>

<%= select_tag(:year1, options_for_select(@years, @year), :style =>"width: 100px" ) %>

<%= select_tag(:month1, options_for_select(@months, @month), :style =>"width: 100px" ) %>
<br>


<table>
    <tr>
      <td>
        <div class="field">
            <input id="check_cliente" name="check_cliente" type="checkbox" value="true" checked />
          <div class="small">
            Todos los clientes
          </div>
        </div>
        
      </td>
      <td>
      <div class="field">
        <h5>  Cliente </h5>
        <%= select_tag(:customer_id,options_from_collection_for_select(@customers,'id','name'),:id => "customer_select"  ) %>
      </div>
      </td>
      
    </tr>
    <tr>
      <td>
        <div class="field">
          <input id="check_medio" name="check_medio" type="checkbox" value="true" checked />
          <div class="small">
            Todos los Medios
          </div>
        </div>
        
        
      </td>
      <td>
      <div class="field">
        <h5>  Medios </h5>
        <%= select_tag(:medio_id,options_from_collection_for_select(@medios,'id','full_name'),:id => "medio_select"  ) %>
      </div>
      </td>
      
    </tr>
    
    
    <tr>
      <td>
    <div class="field">
      <input id="check_marca" name="check_marca" type="checkbox" value="true" checked />
      <div class="small">
         Todos los marcas
      </div>
    </div>
     
        
      </td>
      <td>
    <div class="field">
      <h5>  Marca </h5>
      <%= select_tag(:marca_id,options_from_collection_for_select(@marcas,'id','name'),:id => "marca_select"  ) %>
    </div>
        
        
      </td>
      
    </tr>
    <tr>
      <td>
     <div class="field">
      <input id="check_producto" name="check_producto" type="checkbox" value="true" checked />
      <div class="small">
        Todos los productos
      </div>
    </div>
       
        
      </td>
      <td>
    <div class="field">
      <h5>  Producto </h5>
      <%= select_tag(:producto_id,options_from_collection_for_select(@productos,'id','name'),:id => "producto_select"  ) %>
    </div>
        
        
      </td>
      
    </tr>
    
    <tr>
      
      <td>
        <div class="field">
      <input id="check_version" name="check_version" type="checkbox" value="true" checked />
      <div class="small">
        Todos los Version 
      </div>
    </div>

 
      </td>
      <td>
    <div class="field">
      <h5>Version  </h4>
      <%= select_tag(:version_id,options_from_collection_for_select(@versions,'id','descrip'),:id => "version_select"  ) %>
    </div>
        
      </td>
    </tr>
    <tr>
      <td>
   <div class="field">
      <input id="check_ciudad" name="check_ciudad" type="checkbox" value="true"  checked />
      <div class="small">
        Todos las ciudades
      </div>
    </div>
       
      </td>
      <td>
         
    <div class="field">
      <h5>Ciudad </h4>
      <%= select_tag(:ciudad_id,options_from_collection_for_select(@ciudads,'id','descrip'),:id => "ciudad_select"  ) %>
    </div>
    

      </td>
    </tr>
    
    <tr>
     <td>
       <div class="field">
        <input id="check_tipoorden" name="check_tipoorden" type="checkbox" value="true" checked />
        <div class="small">
         Todos las ordenes 
         </div>
       </div>
       
      </td>
      <td>
         
      <div class="field">
        <h5>Tipo orden  </h4>
        <%= select_tag(:tipo,options_from_collection_for_select(@tipoordens,'id','descrip') ,:id => "tipoorden_select" ) %>
      </div>
      

      </td>
    </tr>
    
   
    
  </table>
 
<br> 
 <%= submit_tag "To PDF", :name => "print" %>
 <%= submit_tag "To Excel", :name => "print" %>
  
<% end %>

   
</html>

<script>

$(document).ready(function() {
  
  if ($('#check_cliente').is(":checked")) {
      $('#customer_select').attr('disabled', true); //disable input
   }
   else {
      $('#customer_select').removeAttr('disabled'); //enable input
   }
   
   
   $('#check_cliente').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#customer_select').attr('disabled', true); //disable input

        } else {
             $('#customer_select').removeAttr('disabled'); //enable input
            
        }
    });

  if ($('#check_medio').is(":checked")) {
      $('#medio_select').attr('disabled', true); //disable input
   }
   else {
      $('#medio_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_medio').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#medio_select').attr('disabled', true); //disable input

        } else {
             $('#medio_select').removeAttr('disabled'); //enable input
            
        }
    });
    
   if ($('#check_marca').is(":checked")) {
      $('#marca_select').attr('disabled', true); //disable input
   }
   else {
      $('#marca_select').removeAttr('disabled'); //enable input
   }
   
     $('#check_marca').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#marca_select').attr('disabled', true); //disable input

        } else {
             $('#marca_select').removeAttr('disabled'); //enable input
            
        }
    });
  if ($('#check_producto').is(":checked")) {
      $('#producto_select').attr('disabled', true); //disable input
   }
   else {
      $('#producto_select').removeAttr('disabled'); //enable input
   }
   

   $('#check_producto').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#producto_select').attr('disabled', true); //disable input

        } else {
             $('#producto_select').removeAttr('disabled'); //enable input
            
        }
    });

  if ($('#check_version').is(":checked")) {
      $('#version_select').attr('disabled', true); //disable input
   }
   else {
      $('#version_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_version').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#version_select').attr('disabled', true); //disable input

        } else {
             $('#version_select').removeAttr('disabled'); //enable input
            
        }
    });

   if ($('#check_ciudad').is(":checked")) {
      $('#ciudad_select').attr('disabled', true); //disable input
   }
   else {
      $('#ciudad_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_ciudad').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#ciudad_select').attr('disabled', true); //disable input

        } else {
             $('#ciudad_select').removeAttr('disabled'); //enable input
            
        }
    });
    
  if ($('#check_tipoorden').is(":checked")) {
      $('#tipoorden_select').attr('disabled', true); //disable input
   }
   else {
      $('#tipoorden_select').removeAttr('disabled'); //enable input
   }
   
  
   $('#check_tipoorden').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#tipoorden_select').attr('disabled', true); //disable input

        } else {
           $('#tipoorden_select').removeAttr('disabled'); //enable input
            
        }
    });
  
    $('#customer_select').change(function() {
      $.ajax({
        url: "/ordens/update_marcas",
        data: {
          customer_id : $('#customer_select').val()
        },
        dataType: "script"
      });
    
    });
    
    
    $('#marca_select').change(function() {
      $.ajax({
        url: "/ordens/update_productos",
        data: {
          marca_id : $('#marca_select').val()

        },
        dataType: "script"
      });
    });

    

     $('#producto_select').change(function() {
      $.ajax({
        url: "/ordens/update_versions",
        data: {
          producto_id : $('#producto_select').val()
        },
        dataType: "script"
      });
    });




  });
  
  </script>
  