

<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h3>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
    Reporte de comisiones
</h3>


  <%= form_tag(rpt_cadmin_03_supplier_payments_path, :method => "get") do %>

  <p> Desde</p>

<%= select_tag(:year, options_for_select(@years, @year), :style =>"width: 100px" )  %>

<%= select_tag(:month, options_for_select(@months, @month), :style =>"width: 100px" ) %>
<br>

    <p> Hasta</p>

<%= select_tag(:year1, options_for_select(@years, @year), :style =>"width: 100px" ) %>

<%= select_tag(:month1, options_for_select(@months, @month), :style =>"width: 100px" ) %>
<br>

  
  

  <%= submit_tag "Generar", :name => "print" %>
     
<% end %>
<br />

