
<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Estado de cuenta 
</h1>


  <%= form_tag(contratos_ec01_supplier_payments_path, :method => "get") do %>

<p>  Mes - Desde </p><br> 
<%= select_tag(:month, options_for_select(@months, @month), :style => "width:120px") %>


<%= select_tag(:year, options_for_select(@years, @year),:style => "width:120px") %>


<br>

<p>  Mes - Hasta </p><br>
<%= select_tag(:month2, options_for_select(@months, @month),:style => "width:120px") %>


<%= select_tag(:year2, options_for_select(@years, @year),:style => "width:120px") %>


<tr>
      <td>
        <div class="field">
          <input id="check_medio" name="check_medio" type="checkbox" value="true" checked />
          <div class="small">
            Todos los Clientes
          </div>
        </div>
        
      </td>
      <td>
      <div class="field">
        <h5>  Clientes </h5>
        <%= select_tag(:customer_id,options_from_collection_for_select(@customers,'id','name'),:id => "medio_select"  ) %>
      </div>
      </td>
      
    </tr>
 
<br> 
 <%= submit_tag "To PDF", :name => "print" %>
 <%= submit_tag "To Excel", :name => "print" %>
  
<% end %>

   
</html>

<script>

$(document).ready(function() {
  
  if ($('#check_cliente').is(":checked")) {
      $('#customer_select').attr('disabled', true); //disable input
   }
   else {
      $('#customer_select').removeAttr('disabled'); //enable input
   }
   
   
   $('#check_cliente').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#customer_select').attr('disabled', true); //disable input

        } else {
             $('#customer_select').removeAttr('disabled'); //enable input
            
        }
    });

  if ($('#check_medio').is(":checked")) {
      $('#medio_select').attr('disabled', true); //disable input
   }
   else {
      $('#medio_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_medio').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#medio_select').attr('disabled', true); //disable input

        } else {
             $('#medio_select').removeAttr('disabled'); //enable input
            
        }
    });
    
   if ($('#check_marca').is(":checked")) {
      $('#marca_select').attr('disabled', true); //disable input
   }
   else {
      $('#marca_select').removeAttr('disabled'); //enable input
   }
   
     $('#check_marca').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#marca_select').attr('disabled', true); //disable input

        } else {
             $('#marca_select').removeAttr('disabled'); //enable input
            
        }
    });
  if ($('#check_producto').is(":checked")) {
      $('#producto_select').attr('disabled', true); //disable input
   }
   else {
      $('#producto_select').removeAttr('disabled'); //enable input
   }
   

   $('#check_producto').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#producto_select').attr('disabled', true); //disable input

        } else {
             $('#producto_select').removeAttr('disabled'); //enable input
            
        }
    });

  if ($('#check_version').is(":checked")) {
      $('#version_select').attr('disabled', true); //disable input
   }
   else {
      $('#version_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_version').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#version_select').attr('disabled', true); //disable input

        } else {
             $('#version_select').removeAttr('disabled'); //enable input
            
        }
    });

   if ($('#check_ciudad').is(":checked")) {
      $('#ciudad_select').attr('disabled', true); //disable input
   }
   else {
      $('#ciudad_select').removeAttr('disabled'); //enable input
   }
   
   $('#check_ciudad').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#ciudad_select').attr('disabled', true); //disable input

        } else {
             $('#ciudad_select').removeAttr('disabled'); //enable input
            
        }
    });
    
  if ($('#check_tipoorden').is(":checked")) {
      $('#tipoorden_select').attr('disabled', true); //disable input
   }
   else {
      $('#tipoorden_select').removeAttr('disabled'); //enable input
   }
   
  
   $('#check_tipoorden').click(function () {
        //check if checkbox is checked
        if ($(this).is(':checked')) {

           $('#tipoorden_select').attr('disabled', true); //disable input

        } else {
           $('#tipoorden_select').removeAttr('disabled'); //enable input
            
        }
    });
  
    $('#customer_select').change(function() {
      $.ajax({
        url: "/ordens/update_marcas",
        data: {
          customer_id : $('#customer_select').val()
        },
        dataType: "script"
      });
    
    });
    
    $('#marca_select').change(function() {
      $.ajax({
        url: "/ordens/update_productos",
        data: {
          marca_id : $('#marca_select').val()
        },
        dataType: "script"
      });
    });
    
    
  });
  
  </script>
  
 
