<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @tipo_cpm.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tipo_cpm.name %>
</p>

<%= link_to 'Edit', edit_tipo_cpm_path(@tipo_cpm) %> |
<%= link_to 'Back', tipo_cpms_path %>
